.tooltipBody {
  visibility: hidden;
  opacity: 0;
	position: absolute;
	font-family: Minecraft, Unifont;
	font-size: 16px;
	width: max-content;
	max-width: 29rem;
	z-index: 110;

	&.showAboveModal {
		z-index: 121;
	}
}

.tooltipBodyWrapper {
  position: relative;
	left: -14.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 29rem;
}

.tooltip:hover .tooltipBody {
  visibility: visible;
  opacity: 1;
}
