.tooltip {
	position: absolute;
	font-family: Minecraft;
	font-size: 16px;
	width: max-content;
	max-width: 380px;
	z-index: 110;

	&.showAboveModal {
		z-index: 121;
	}
}

.smallTooltip {
	font-size: 14px;
}