.modalWrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 30%);
	top: 0;
	left: 0;
	z-index: 100;
}

.modal {
	margin-top: 100px;
	overflow: hidden;
	min-width: 300px;
	min-height: 100px;
	background: rgb(198, 198, 198);
	border-radius: 10px;
	border: 1px solid black;
	box-shadow: 0 0 3px black;
	position: relative;
	padding: 5px;
	font-family: Minecraft;
	font-size: 16px;
}

.topLine {
	display: flex;
	justify-content: space-between;
	padding: 5px 10px 0;
}

.closeButton {
	cursor: pointer;
	font-size: 24px;
}

.closeButton:hover {
	text-shadow: 0 0 2px black;
}

.title {
	font-family: MinecraftBold;
	font-size: 18px;
}

.content {
	padding: 0;
}

.topBevel,
.leftBevel,
.bottomBevel,
.rightBevel {
	position: absolute;
}

.topBevel,
.bottomBevel {
	height: 5px;
	left: 0;
	right: 0;
}

.leftBevel,
.rightBevel {
	width: 5px;
	top: 0;
	bottom: 0;
}

.topBevel,
.leftBevel {
	background: white;
}

.bottomBevel,
.rightBevel {
	background: rgb(86, 86, 86);
}

.topBevel {
	top: 0;
	right: 5px;
}

.leftBevel {
	left: 0;
	bottom: 5px;
}

.bottomBevel {
	bottom: 0;
	left: 5px;
}

.rightBevel {
	right: 0;
	top: 5px;
}
