.overlay {
	background: hsla(0deg, 0%, 10%, 80%);
	position: fixed;
	inset: 0;
	z-index: 119;
	backdrop-filter: blur(2px);
	animation: overlayShow 500ms cubic-bezier(0.16, 1, 0.3, 1);
	pointer-events: all;
}

.modal {
	position: fixed;
	z-index: 120;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: min(550px, 90vw);
	max-width: 300px;
	max-height: 90vh;
	background: var(--gray-700);
	border: 2px solid var(--gray-900);
	filter: drop-shadow(0 0 8px hsla(0deg, 0%, 10%, 100%));
	box-shadow: 0 0 3px black;
	font-size: 16px;
	color: var(--text-light);
	opacity: 0;
	animation: contentShow 250ms 100ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
	pointer-events: all;

	&.veryWide {
		width: 75%;
		max-width: 75%;
	}

	.title {
		margin: 0;
		color: var(--text-light);
		font-size: 1.1rem;
		font-weight: 500;
		background: var(--gray-500);
		border: 2px solid var(--gray-400);
		padding: 0.5rem;
		text-align: center;

		.close {
			position: absolute;
			top: 6px;
			right: 6px;
			cursor: pointer;
			padding: 6px 6px 2px;

			&:hover {
				background: var(--gray-700);
			}
		}
	}
}

.notice {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	font-size: 1rem;
	border: 1px solid var(--gray-300);
	padding: 0.5rem;
	background: var(--gray-900);

	.noticeIcon {
		display: grid;
		place-content: center;
		border: 2px solid var(--gray-50);
		width: 20px;
		height: 20px;
		flex: 0 0 auto;
		border-radius: 50%;
		font-size: 1rem;
		text-align: center;
		font-family: serif;
		font-weight: bold;
	}
}

.description {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	gap: 0.5rem;

	hr {
		margin: 0.25rem 0;
	}
}

.options {
	text-align: center;
	padding: 1rem;
	display: flex;
	justify-content: center;
	gap: 10px;
	border-top: 2px solid var(--gray-400);
	background: var(--gray-500);
	flex-grow: 1;

	> button {
		flex-grow: 1;
		max-width: 50%;
	}

	&.fillSpace > button {
		max-width: 100%;
	}
}

@keyframes overlayShow {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: translate(-50%, -40%) scale(0.9);
	}

	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}
