$player: #6fabd0;
$opponent: #d0946f;
$effect: #6f79d3;
$attack: #c585d4;
$item: var(--gray-200);
$good: #5ea758;
$bad: #ce5859;

.player {
	color: $player;
	font-family: MinecraftBold;

	&.viewedByOpponent {
		color: $opponent;
	}
}

.opponent {
	color: $opponent;
	font-family: MinecraftBold;

	&.viewedByOpponent {
		color: $player;
	}
}

.effect {
	color: $effect;
	font-family: MinecraftBold;
}

.attack {
	color: $attack;
	font-family: MinecraftBold;
}

.item {
	color: $item;
	font-family: MinecraftBold;
}

.good {
	color: $good;
	font-family: MinecraftBold;
}

.bad {
	color: $bad;
	font-family: MinecraftBold;
}

.bold {
	font-family: MinecraftBold;

	> span > .italic {
		font-family: MinecraftItalic;
		font-weight: 1000;
	}
}

.italic {
	font-family: MinecraftItalic;

	> span > .bold {
		font-family: MinecraftItalic;
		font-weight: 1000;
	}
}

.keyword {
	font-family: MinecraftItalic;
	font-weight: 1000;
	color: rgb(204, 95, 204);
}

.tab {
	margin-right: 5em;
}
