.nameDesktop {
	text-align: center;
	margin-bottom: 10px;
}

.nameMobile {
	margin-right: 10px;
}

@media (orientation: portrait) {
	.coinFlip {
		display: flex;
		flex-direction: row;
		text-align: center;
		vertical-align: center;
		align-items: center;
	}

	.nameDesktop {
		display: none;
	}
}

@media (orientation: landscape) {
	.nameMobile {
		display: none;
	}
}

.coins {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	gap: 10px;
	justify-content: center;
}

$size: 60px;
@media (orientation: portrait) {
	$size: 50px;
}

.coin {
	position: relative;
	width: $size;
	height: $size;
	text-align: center;
	line-height: $size;
	animation-name: rotation, oddRotation, finalRotation;
	animation-timing-function: ease-out, ease-out, ease-out;
	animation-duration: 0.7s, 0.35s, 2.4s;
	transform: rotateY(0deg);
	transform-style: preserve-3d;

	.face {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
    	border-width: calc($size / 30);
    	border-style: solid;
		backface-visibility: hidden;
		overflow: hidden;
		box-shadow: 0 0 4px #79611a;

		img {
			width: 100%;
			height: 100%;
		}
	}
}

.front {
	background-color: gray;
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	background-color: gray;
	z-index: 1;
	transform: rotateY(180deg);
}

.coinGroup {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

@keyframes rotation {
	0% {
		transform: rotate3d(0, 1, 0, 0deg);
	}

	50% {
		transform: rotate3d(0, 1, 0, 180deg);
	}

	100% {
		transform: rotate3d(0, 1, 0, 360deg);
	}
}

@keyframes oddRotation {
	0% {
		transform: rotate3d(0, 1, 0, 0deg);
	}

	100% {
		transform: rotate3d(0, 1, 0, 180deg);
	}
}

@keyframes finalRotation {
	0% {
		transform: rotate3d(0, 1, 0, 180deg);
	}

	100% {
		transform: rotate3d(0, 1, 0, 180deg);
	}
}
