@font-face {
	font-family: Minecraft;
	src: url(/fonts/MinecraftRegular-Bmg3.otf);
}

@font-face {
	font-family: MinecraftBold;
	src: url(/fonts/MinecraftBold-nMK1.otf);
}

@font-face {
	font-family: MinecraftItalic;
	src: url(/fonts/MinecraftItalic-R8Mo.otf);
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgb(72, 72, 72);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	box-sizing: border-box;
}

button {
	font-family: Minecraft;
	padding: 5px 10px;
	overflow: hidden;
	white-space: nowrap;
	background: #999 url('/images/bgbtn.png') center / cover;
	image-rendering: pixelated;
	border: 2px solid #000;
	color: #ddd;
	text-shadow: 2px 2px #000a;
	box-shadow: inset -2px -4px #0006, inset 2px 2px #fff7;
}

button:disabled {
	opacity: 0.7;
	box-shadow: none;
}

button:not(:disabled):hover {
	cursor: pointer;
	background-color: rgba(100, 100, 255, 0.45);
	text-shadow: 2px 2px #202013cc;
	color: #ffffa0;
}

input {
	width: 200px;
	padding: 5px 10px;
	border: 2px solid #000;
	font-family: Minecraft;
}
