@font-face {
	font-family: Minecraft;
	src: url('/fonts/MinecraftRegular-Bmg3.otf');
}

@font-face {
	font-family: MinecraftBold;
	src: url('/fonts/MinecraftBold-nMK1.otf');
}

@font-face {
	font-family: MinecraftItalic;
	src: url('/fonts/MinecraftItalic-R8Mo.otf');
}

@font-face {
	font-family: BangersRegular;
	src: url('/fonts/BangersRegular.otf');
}

@font-face {
	font-family: BangersBold;
	src: url('/fonts/BangersBold.otf');
}

html,
body,
#root,
main {
	height: 100%;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgb(72, 72, 72);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	box-sizing: border-box;
}

button {
	font-family: Minecraft;
	padding: 0 10px;
	height: 30px;
	line-height: 1;
	vertical-align: bottom;
	overflow: hidden;
	white-space: nowrap;
	background: #999 url('/images/bgbtn.png') center / cover;
	image-rendering: pixelated;
	border: 2px solid #000;
	color: #ddd;
	text-shadow: 2px 2px #000a;
	box-shadow: inset -2px -4px #0006, inset 2px 2px #fff7;

	&:disabled {
		opacity: 0.7;
		box-shadow: none;
	}
}

input:not([type]),
input[type='text'] {
	width: 200px;
	padding: 0 10px;
	height: 30px;
	line-height: 1;
	vertical-align: bottom;
	border: 2px solid #000;
	font-family: Minecraft;
}

/* changes for new look, note that all the above will get redone eventually */

.temp {
	button {
		line-height: 100%;
		text-align: center;
		height: 5vh;
		font-size: 2vh;
		border: 0.3vh solid #000;
		text-shadow: 0.2vh 0.2vh #000;
		box-shadow: inset -0.3vh -0.5vh #0006, inset 0.3vh 0.3vh #fff7;
		padding: 0 2vh;
	}

	input:not([type]),
	input[type='text'] {
		border: 0.3vh solid #000;
		height: 5vh;
		font-size: 2vh;

		&:focus-visible {
			outline-offset: 0;
			outline: none;
		}
	}
}

button:not(:disabled):hover {
	cursor: pointer;
	background-color: rgba(100, 100, 255, 45%);
	text-shadow: 2px 2px #202013cc;
	color: #ffffa0;
}

.temp button:not(:disabled):hover {
	text-shadow: 0.3vh 0.3vh #202013cc;
}

/* scrollbar */
::-webkit-scrollbar {
	width: 1.5vh;
	height: 1.5vh;
}

::-webkit-scrollbar-thumb {
	background: #e6e8eb;
	border: 0.25vh solid black;
	border-radius: 0.25vh;
	box-shadow: inset 0 0 0 0.25vh white;
	background-clip: padding-box;
}

::-webkit-scrollbar-track {
	background: #58585a;
	border: 0.5vh solid transparent;
	border-radius: 0.5vh;
	background-clip: padding-box;
	margin: 0.5vh;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
	display: none;
}
