.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(56, 56, 56, 0.7);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.buttonWrapper {
	margin-top: 20px;
}

.message {
	font-family: Minecraft;
	color: white;
	text-align: center;
}
