.overlay {
	background-color: hsla(0deg, 35%, 10%, 75%);

	&.win {
		background-color: hsla(192deg, 35%, 10%, 75%);
	}
}

.animation {
	width: 100%;
	animation: float infinite alternate 2s 1s ease-in-out;
	position: absolute;
	top: -3.5rem;
}

.description {
	display: grid;
	place-content: center;
	padding: 4rem 2rem 2rem;
	gap: 1rem;
	text-align: center;
	font-size: 1.1rem;
	color: var(--text-light);
	font-weight: bold;
	background: linear-gradient(90deg,
			hsla(357deg, 58%, 40%, 50%) 10%,
			hsl(357deg, 58%, 40%, 100%) 50%,
			hsla(357deg, 58%, 40%, 50%) 90%);
	border-image: url('/images/cosmetics/border/red_border.png') 30 / 20px;

	&.win {
		background: linear-gradient(90deg,
				hsla(192deg, 56%, 58%, 50%) 10%,
				hsl(192deg, 56%, 58%, 100%) 50%,
				hsla(192deg, 56%, 58%, 50%) 90%);
		border-image-source: url('/images/cosmetics/border/border.png');
	}

	button {
		padding: 0 2rem;
		flex-grow: 1;
	}
}

@keyframes float {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-5px);
	}
}
