.message {
	color: white;
	font-family: Minecraft;
	margin-bottom: 15px;
}

.code {
	background: black;
	color: white;
	border: 1px solid orange;
	padding: 5px 15px;
	font-size: 20px;
	letter-spacing: 3px;
	font-family: Minecraft;
	cursor: pointer;
}

.options {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	gap: 5px;
}

.invalidCode {
	border-color: red;
	outline-color: red;
}

.matchMakingBackground {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 0px;

	height: 100vh;
	width: 100vw;

	background-image: url('/images/menu-background.png');
	background-size: cover;
	background-position: center;
}

.matchMakingContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}
