.statusEffect {
	pointer-events: all;
	width: 16px;
	height: 16px;
}

.statusEffectImage {
	width: 8px;
	height: 8px;
	image-rendering: crisp-edges;

	filter: drop-shadow(0.5px 0px 0 white) drop-shadow(-0.5px 0px 0 white)
		drop-shadow(0px 0.5px 0 white) drop-shadow(0px -0.5px 0 white);

	@media (orientation: landscape) {
		transform: translateX(4px) translateY(-4px) scale(2);
	}

	@media (orientation: portrait) {
		transform: translateX(6px) translateY(-6px) scale(3);
	}
}

.damageStatusEffectImage {
	width: 50px;
	height: 75px;
}

.durationIndicator {
	color: white;
	font-family: MinecraftBold;
	transform: translate(7px, -15px);
	filter: drop-shadow(1px 0px 0 black) drop-shadow(-1px 0px 0 black) drop-shadow(0px 1px 0 black)
		drop-shadow(0px -1px 0 black);
}
