.statusEffect {
	pointer-events: all;
	width: 16px;
	height: 16px;
}

.statusEffectImage {
	width: 8px;
	height: 8px;
	image-rendering: crisp-edges;

	&.card {
		filter: drop-shadow(.5px 0px 0 white) drop-shadow(-.5px 0px 0 white) drop-shadow(0px .5px 0 white)
		drop-shadow(0px -.5px 0 white);
	}

	&.player {
		filter: drop-shadow(.5px 0px 0 lightblue) drop-shadow(-.5px 0px 0 lightblue) drop-shadow(0px .5px 0 lightblue)
		drop-shadow(0px -.5px 0 lightblue);
	}
	

	@media (orientation: landscape) {
		transform: translateX(4px) translateY(-4px) scale(2);
	}

	@media (orientation: portrait) {
		transform: translateX(6px) translateY(-4px) scale(3);
	}
}

.damageStatusEffectImage {
	width: 50px;
	height: 75px;
}

.durationIndicator {
	color: white;
	font-family: MinecraftBold;
	transform: translate(10px, -18px);
	filter: drop-shadow(1px 1px 0 rgb(0, 0, 0));
}
