.statusEffect {
	pointer-events: all;
}

.statusEffectImage {
	width: 8px;
	height: 8px;
	filter: drop-shadow(1px 0px 0 white) drop-shadow(-1px 0px 0 white) drop-shadow(0px 1px 0 white) drop-shadow(0px -1px 0 white) ;
	transform: translateX(2px) translateY(-2px) scale(2);
	image-rendering: crisp-edges;
}

.damageStatusEffectImage {
	width: 50px;
	height: 75px;
}

.durationIndicator {
	color: white;
	font-family: MinecraftBold;
	transform: translate(10px, -18px);
	filter: drop-shadow(1px 1px 0 rgb(0, 0, 0));
}
