.updatesList {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	overflow-y: auto;
	color: var(--text-light);
	gap: 10px;
	max-height: 60vh;
	height: 100%;
}

.updateItem {
	width: 100%;
	padding: 1%;
	text-align: left;
}

h1 {
    display: inline
}

.shortDate {
	color: var(--text-light);
}

a:link {
	color: inherit;
	text-decoration-line: none;
}
a:visited {
	color: inherit;
}
a:hover {
	color: inherit;
	text-decoration-line: underline;
}
a:active {
	color: inherit;
}

.updateName {
    font-size: 2.5vh;
}

.updateSeperator {
	width: 90%;
}
