.updatesList {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	overflow-y: auto;
	color: var(--text-light);
	gap: 10px;
	max-height: 40vh;
	height: 100%;

	a {
		color: cyan;
	}
}

.updateItem {
	width: 100%;
	padding: 1%;
	text-align: left;
}

.updateName {
    font-size: 2.5vh;
}

.updateSeperator {
	width: 90%;
}
