.slot {
	width: 90px;
	height: 90px;
	background: grey;
	flex: 0 0 auto;
	position: relative;
	overflow: hidden;
}
.slot.available {
	cursor: pointer;
}
.slot.empty {
	padding: 7px;
}
.slot.item,
.slot.hermit,
.slot.single_use {
	background: #aeb4b4;
}
.leftPlayer .slot.hermit.afk {
	transform: rotate(90deg);
}
.rightPlayer .slot.hermit.afk {
	transform: rotate(-90deg);
}
.slot.effect {
	background: #353536;
}
.slot.health {
	background: #6d6e64;
}
.slot .frame {
	width: 100%;
	height: 100%;
}
.slot:hover .frame {
	box-shadow: 0 0 5px #333;
}
.slot.effect:hover .frame {
	box-shadow: 0 0 3px #ddd;
}
.slot .lock {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 15px;
	height: 15px;
	filter: brightness(75%);
}

.hermitRow {
	display: flex;
	flex-flow: row nowrap;
}

.hermitRow:hover {
	filter: brightness(120%);
}

.board {
	border: 5px solid white;
	border-top: none;
	user-select: none;
	background: #080b0d;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 1226px;
	margin: 0 auto;
}

.leftPlayer,
.rightPlayer {
	flex: 0 0 auto;
}

.middle {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-between;
	flex: 0 0 auto;
	width: 130px;
}

.opponentFollowup {
	font-family: Minecraft;
	text-align: center;
	color: white;
	font-size: 12px;
}

.singleUseSlot.used {
	filter: brightness(50%);
}

.playerInfo {
	display: flex;
	background: white;
	align-items: center;
	justify-content: flex-start;
	padding: 4px 10px;
	font-weight: bold;
}

.playerInfo.right {
	flex-direction: row-reverse;
}

.playerName {
	line-height: 1;
	margin: 0 3px;
}

.playerName.disconnected {
	color: rgb(170, 170, 170);
}

.currentTurn {
	border-radius: 10px;
	text-transform: uppercase;
	border: 1px solid #999;
	padding: 3px 10px;
	font-size: 12px;
	line-height: 1;
	text-align: center;
	margin: 0 7px;
}

.dynamicSpace {
	flex: 1 1 0;
	width: 0;
	min-width: 0;
}

.fireAilment {
	position: absolute;
	left: -20px;
	bottom: -40px;
	width: 75px;
	background: url(/images/fire-anim.gif) no-repeat;
	filter: blur(1px);
	height: 75px;
	background-size: contain;
}

.poisonAilment {
	position: absolute;
	right: -40px;
	bottom: -45px;
	width: 75px;
	background: url(/images/poison-anim.gif) no-repeat;
	filter: blur(1px);
	height: 75px;
	background-size: contain;
}

.sleepingAilment {
	position: absolute;
	left: -3px;
	top: 20px;
	width: 22px;
	background: url(/images/sleeping-anim.gif) no-repeat;
	height: 22px;
	filter: grayscale(100%);
	background-size: contain;
}
