.ailment {
	width: 25px;
    height: 25px;
}

.damageAilment {
    width: 35px;
    height: 50px;
}

.durationIndicator {
    color: white;
	font-family: MinecraftBold; 
    position: absolute;
    bottom: 0px;
    right: 0px;
    filter: drop-shadow(1px 1px 0 rgb(0,0,0));
}