.accordion {
	margin-bottom: 0.5rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 1.5rem;
	padding: 4px 8px;
	border-bottom: 1px solid black;
	box-shadow: 0px 1.5px 0px #5a5b5c;
	cursor: pointer;
	user-select: none;
}

.caret {
	justify-self: flex-end;
	height: 8px;
	width: 8px;
	transition: all 0.15s ease;
}

.content {
	overflow: hidden;
	height: 100%;
	transition: all 0.15s ease;
}

.padding {
	padding: 1rem 0.5rem;
}

.hide {
	padding: 0;
	height: 0;
}
