.credit {
  display: flex;
  font-size: 1.8vh;
  align-items: center;
  gap: 1vh;
  font-family: Minecraft, Unifont;
  color: white;
  text-shadow: 0.1vh 0.1vh 0.2vh black, -0.1vh -0.1vh 0.2vh black;
  text-decoration: none;
  margin-bottom: 10px;
  background: hsla(0deg, 0%, 0%, 55%);
  padding: 0.5vh;
  border-radius: 1vh;
}

.avatar {
  box-shadow: 0 0 2px black;
  width: 6vh;
  height: 6vh;
  margin: 0.5vh;
  border-radius: 3.5vh;
}

.handle {
  display: flex;
  align-items: center;
  color: #aaa;

  .handleImage {
    height: 1em;
    filter: invert(1) contrast(33.3%) drop-shadow(0 0 4px #000);
    padding-right: 5px;
  }
}

a.credit:hover {
  text-decoration: underline;

  .avatar {
    box-shadow: 0 0 0.3vh 0.1vh black;
  }
}

@media screen and (max-width: 100vh) {
  .credit {
    bottom: 5vh;
    right: 0;
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 80vh) {
  .credit {
    font-size: 1.5vh;
  }

  .avatar {
    width: 5vh;
    height: 5vh;
    border-radius: 2.5vh;
  }
}
