.game {
	width: 100%;
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
}

.innerGame {
	background: url('https://static.wikia.nocookie.net/minecraft/images/a/ab/Badlands-island-chain-minecraft-seed-2000x1200.jpeg')
		no-repeat;
	background-size: cover;
	min-height: max(740px, 100%);
	width: 100%;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media screen and (max-width: 1230px) {
	.innerGame {
		width: max-content;
	}
}

.bottom {
	width: 100%;
	height: 240px;
	background: beige;
	overflow: hidden;
	display: flex;
}

.toolbar {
	flex: 0 0 auto;
	z-index: 2;
}

.hand {
	flex: 1 1 auto;
	padding: 10px;
	margin-bottom: 2px;
	min-width: 0;
	overflow-x: auto;
	overflow-y: hidden;
	text-align: center;
	z-index: 1;
}
