/* stylelint-disable no-descending-specificity */

.linkContainer {
	display: flex;
	align-items: center;
	gap: 4vh;
	margin-top: 2vh;
	margin-inline: auto;
	font-size: 1vh;
	font-family: MinecraftBold;

	> a {
		text-decoration: none;

		img {
			height: 4vh;
			width: 4vh;
			filter: invert(1);
		}

		&:hover {
			img {
				filter: invert(1) brightness(100%) sepia(100) saturate(7) hue-rotate(341deg);
			}
		}
	}
}

.version {
	position: absolute;
	bottom: 1vh;
	left: 1vh;
	display: flex;
	flex-direction: row;
	gap: 1vh;
	color: var(--text-light);
	filter: drop-shadow(1px 1px 0 var(--text-dark));
	font-size: 1.8vh;
	user-select: none;

	span {
		display: flex;
		align-items: center;
	}

	& a {
		display: flex;
		align-items: center;
		gap: 0.6vh;
		color: var(--text-light);
		text-decoration: none;

		img {
			height: 2.2vh;
			transform: translateY(-0.2vh);
			filter: invert(1);
		}

		&:hover {
			color: hsl(60deg, 90%, 80%);

			img {
				filter: invert(1) brightness(100%) sepia(100) saturate(7) hue-rotate(341deg);
			}
		}
	}
}

@media screen and (max-width: 100vh) {
	.version {
		right: 0;
		left: 0;
		width: 100%;
		justify-content: center;
	}
}
