.linkContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 40px;
	margin: 10px;
	font-size: 1em;
	gap: 30px;
	font-family: MinecraftBold;
}

.linkContainer > a {
	display: flex;
}
