.linkContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 20vh;
	height: 4vh;
	margin-top: 2vh;
	font-size: 1vh;
	font-family: MinecraftBold;

	> a {
		display: flex;

		> img {
			height: 4vh;
			width: 4vh;
		}
	}
}
