.linkContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 20vh;
	height: 4vh;
	margin-top: 2vh;
	font-size: 1vh;
	font-family: MinecraftBold;
}

.linkContainer > a {
	display: flex;
}
.linkContainer > a > img {
	height: 4vh;
	width: 4vh;
}
