.playerInfo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1vh;
	font-weight: bold;
	color: var(--text-light);
	padding: 4px 16px;
	border: 3px solid var(--gray-900);
	background: hsla(214, 3%, 44%, 0.5);
	flex-grow: 1;
	background-repeat: repeat-x;
	background-size: contain;
	background-position: left;
	max-width: 600px;
	width: 600px;

	&.active {
	   	border-image-slice: 30 48% 30;
	   	border-image-width: 20px 48px;
	   	border-image-repeat: stretch stretch;
		border-image-source: url("/images/cosmetics/border/blue.png");
		border-style: solid;
		background: linear-gradient(
			-90deg,
			hsla(195deg, 53%, 60%, 35%),
			hsla(195deg, 100%, 60%, 50%)
		);

		background-repeat: repeat-x;
		background-size: contain;
		background-position: left;

		&.right {
			background: linear-gradient(
				90deg,
				hsla(195deg, 53%, 60%, 35%),
				hsla(195deg, 100%, 60%, 50%)
			);

			background-repeat: repeat-x;
			background-size: contain;
			background-position: left;
		}
	}
}

.background {
	position: absolute;
	height: 66px;
	width: 600px;
	margin-top: 0px;
	margin-left: -19px;
	backdrop-filter: grayscale(80%) brightness(60%);
	border: 3px solid var(--gray-900);
	pointer-events: none;

	&.active {
		display: none;
	}

	&.right {
		margin-left: 0px;
		margin-right: -19px;
	}

	&.disconnected {
		z-index: 50;
		display: inherit;

		&.active {
			border: 0px;
			filter: brightness(120%);
		}
	}
}

.playerHead {
	background: var(--gray-800);
	clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
	height: 52px;
	aspect-ratio: 20/21;
	padding: 5px;
	z-index: 50;
}

.disconnectedComponent {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.playerName {
	z-index: 50;

	> h1 {
		font-family: MinecraftBold;
		filter: drop-shadow(0 2px 0 hsla(0deg, 0%, 0%, 35%));
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 80ch;
		overflow: hidden;

		@media (orientation: portrait) {
			width: 15ch;
		}
	}

	> p {
		letter-spacing: 1px;
		font-family: Minecrafter, sans-serif;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: normal;
		color: var(--gray-200);
		filter: drop-shadow(0 1px 0 black);
	}

	&.disconnected {
		> h1 {
			display: none;
		}

		> p {
			display: none;
		}
	}
}

.playerName.disconnected {
	color: rgb(170, 170, 170);
}

.currentTurn {
	text-transform: uppercase;
	font-size: 1vh;
	font-family: Minecraft, sans-serif;
	font-weight: normal;
	letter-spacing: 0.25vh;
	line-height: 1;
	text-align: center;
}

.turnHighlight {
	color: var(--color-secondary);
}

.right {
	flex-direction: row-reverse;
	text-align: right;
}

.health {
	display: flex;
	flex-direction: column-reverse;
	margin-left: auto;
	z-index: 50;

	> img {
		height: 20px;
		width: 20px;
	}

	&.right {
		margin-left: 0;
		margin-right: auto;
	}
}

@media (orientation: landscape) {
	.playerName {
		> h1 {
			max-width: 25ch;
		}
	}

	.health {
		flex-direction: row-reverse;
		gap: 4px;

		> img {
			height: calc(20px * 2);
			width: calc(20px * 2);
			image-rendering: crisp-edges;
		}

		&.right {
			flex-direction: row;
		}
	}
}

@media (orientation: portrait) {
	.playerInfo {
		max-width: 330px;
		width: 330px;
		height: 70px;
	}

	.background {
		width: 330px;
		height: 70px;
	}
}
