.cardTooltip {
	overflow: hidden;
}

.topLine {
	display: flex;
	gap: 10px;
	font-size: 20px;
	flex-flow: row nowrap;
	line-height: 1;
	white-space: nowrap;
}

.name {
	color: white;
	text-decoration: underline;
	font-family: MinecraftBold;
}

.hermitType {
	font-family: MinecraftBold;
}

.description {
	margin-top: 4px;
	color: rgb(158, 14, 158);
	font-size: 18px;
	font-family: MinecraftItalic;
	line-height: 1.1;
}

.power {
	font-family: MinecraftBold;
	line-height: 1.2;
}

.singleUse {
	color: rgb(238, 135, 48);
}

.rarity {
	font-style: normal;
}

.common {
	color: rgb(0, 197, 0);
}

.rare {
	color: rgb(249, 168, 3);
}

.ultraRare {
	color: rgb(98, 255, 255);
}

.farm {
	color: rgb(124, 204, 12);
}

.redstone {
	color: rgb(185, 33, 42);
}

.prankster {
	color: rgb(116, 55, 168);
}

.explorer {
	color: rgb(103, 138, 190);
}

.balanced {
	color: rgb(101, 124, 50);
}

.builder {
	color: rgb(184, 162, 154);
}

.pvp {
	color: rgb(85, 202, 194);
}

.speedrunner {
	color: rgb(223, 226, 36);
}

.terraform {
	color: rgb(217, 119, 147);
}

.miner {
	color: rgb(110, 105, 108);
}

.strengthsAndWeaknesses {
	font-family: Minecraft;
	margin-top: 3px;
}

.rank {
	margin-bottom: 3px;

	&.wooden {
		color: #5e5e5e;
	}

	&.iron {
		color: #dad5d0;
	}

	&.gold {
		color: #faee54;
	}

	&.diamond {
		color: #4ad7f0;
	}
}
