.card {
	image-rendering: auto;
	height: 100%;
	aspect-ratio: 1;
	overflow: hidden;
	font-family: BangersBold, Helvetica, serif;
	user-select: none;
	border: 2px solid transparent;
	cursor: pointer;

	&:disabled {
		filter: brightness(0.5);
		cursor: not-allowed;
	}
}

.cardImage {
	image-rendering: auto;
	height: 100%;
	width: 100%;
	aspect-ratio: 1;
	overflow: show;
	font-family: BangersBold, Helvetica, serif;
	user-select: none;
	border: 2px solid transparent;
	cursor: pointer;
	background-color: gray;
	background-clip: content-box;

	&:focus-visible {
		outline: 4px solid white;
		border: 2px solid black;
		z-index: 2;
	}
}

.cardImageContainer {
	@media (orientation: portrait) {
		pointer-events: none;
	}

	&.disabled {
		filter: saturate(0);
		cursor: not-allowed;
	}
}

.selected {
	&:not(:disabled) {
		outline: 3px solid hsl(192deg, 56%, 58%);
		filter: drop-shadow(0 0 8px hsla(181deg, 56%, 58%, 100%));
		animation: selectedCard 1500ms ease-in-out infinite alternate;
	}
}

.picked {
	outline: 3px dashed hsla(192deg, 56%, 58%, 70%);
}

.unpickable {
	filter: brightness(0.6);
	cursor: pointer;
}

@keyframes selectedCard {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-5px);
	}
}

.headInList {
	height: 1.4rem;
	transform: translateY(0.3rem);
	pointer-events: none;
	margin-top: -0.4rem;
}

.renderedCardImage {
	pointer-events: none;
	user-select: none;
}

.MobileCardComponentContainer {
	display: flex;
}

.MobileCardComponent {
	display: flex;
	flex-grow: 1;
	flex-direction: row;
	gap: 0.5rem;
	padding: 0.5rem;
	margin: 0.3rem;
	background-color: #1a1d1d;
	border-radius: 8px;
	border: #1a1d1d 2px solid;
	font-family: Minecraft;
	font-size: 1rem;
	color: var(--text-light);

	.amount {
		flex-grow: 1;
		text-align: right;
	}

	.tokens {
		color: var(--ultra-rare);
	}

	&:hover {
		border: var(--text-light) 2px solid;
		background-color: #353838;
	}
}

.plusIcon {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	padding: 0.5rem;
	padding-right: 1rem;
	padding-left: 1rem;
	margin: 0.3rem;
	background-color: #1a1d1d;
	border-radius: 8px;
	border: #1a1d1d 2px solid;
	font-family: Minecraft;
	font-size: 1rem;
	color: var(--text-light);

	&:hover {
		border: var(--text-light) 2px solid;
		background-color: #353838;
	}
}

.rarityStar {
	font-size: 1rem;
	font-family: Unifont;
	transform: translate(1.2rem, -0.8rem);
	filter: drop-shadow(1px 0px 0 white) drop-shadow(-1px 0px 0 white)
		drop-shadow(0px 1px 0 white) drop-shadow(0px -1px 0 white);

	&.rare::before {
		color: rgb(241, 172, 33);
		position: absolute;
		content: "✦";
	}

	&.ultra_rare::before {
		color: rgb(85, 202, 194);
		position: absolute;
		content: "★";
	}
}
