.cardTooltip {
	pointer-events: none;

	&.small {
		font-size: 14px;
		display: flex;
		flex-direction: column;

		> div > p {
			color: var(--gray-300);
		}
	}
}

.cardTooltipContainer {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.tooltipBelow {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.smallText {
	font-size: 14px;
}

.topLine {
	display: flex;
	gap: 10px;
	font-size: 18px;
	flex-flow: row nowrap;
	line-height: 1;
	white-space: nowrap;
}

.italicized {
	font-family: MinecraftItalic;
}

.name {
	color: white;
	text-decoration: underline;
	font-family: MinecraftBold;
}

.type {
	font-family: MinecraftBold;
}

.strengthsAndWeaknesses {
	display: flex;
	flex-direction: column;
	width: 100%;
	color: var(--gray-300);
}

.description {
	margin-top: 4px;
	color: rgb(192, 53, 192);
	font-size: 18px;
	line-height: 1.1;
}

.power {
	font-family: MinecraftBold;
	line-height: 1.2;
}

.attach {
	color: rgb(255, 142, 193);
	font-style: italic;
}

.singleUse {
	color: rgb(238, 135, 48);
	font-style: italic;
}

.rarity {
	font-style: normal;
}

.common {
	color: #5bd359;
}

.rare {
	color: rgb(241, 172, 33);
}

.ultra_rare {
	color: rgb(85, 202, 194);
}

.farm {
	color: rgb(124, 204, 12);
}

.redstone {
	color: rgb(185, 33, 42);
}

.prankster {
	color: rgb(116, 55, 168);
}

.explorer {
	color: rgb(103, 138, 190);
}

.balanced {
	color: rgb(101, 124, 50);
}

.builder {
	color: rgb(184, 162, 154);
}

.pvp {
	color: rgb(85, 202, 194);
}

.speedrunner {
	color: rgb(223, 226, 36);
}

.terraform {
	color: rgb(217, 119, 147);
}

.miner {
	color: rgb(110, 105, 108);
}

.coin {
	color: rgb(196, 207, 207);
}

.rank {
	margin-bottom: 3px;

	&.stone {
		color: #525252;
	}

	&.iron {
		color: #ece9e9;
	}

	&.gold {
		color: #fefa4c;
	}

	&.emerald {
		color: #59e477;
	}

	&.diamond {
		color: #7ff6fa;
	}

	&.obsidian {
		color: #c188d1;
	}
}

.expansion {
	margin-bottom: 3px;
	color: #5bd359;

	&.advent_of_tcg {
		color: #de9292;
	}

	&.advent_of_tcg_ii {
		color: #de9292;
	}
}

.moveStats {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 4rem 100%;
}

.costItem {
	vertical-align: text-bottom;
	margin-right: 3px;
	margin-left: 1px;

	&.prankster {
		filter: drop-shadow(1px 1px 0 rgb(116, 55, 168))
			drop-shadow(1px -1px 0 rgb(116, 55, 168))
			drop-shadow(-1px 1px 0 rgb(116, 55, 168))
			drop-shadow(-1px -1px 0 rgb(116, 55, 168));
	}
}

@media (max-width: 720px) {
	.cardTooltip {
		max-width: 90vw;
	}

	.cardTooltipContainer {
		max-width: 90vw;
		font-size: 12px;
		overflow: hidden;
	}

	.smallText {
		font-size: 12px;
	}

	.topLine {
		gap: 8px;
		font-size: 16px;
	}

	.description {
		font-size: 16px;
	}

	.cardTooltip.small {
		font-size: 14px;
	}
}
