.card {
	height: 100%;
	aspect-ratio: 1;
	overflow: hidden;
	font-family: BangersBold, Helvetica, serif;
	user-select: none;
	border: 2px solid transparent;

	&:disabled {
		filter: brightness(0.5);
		cursor: not-allowed;
	}

	&:focus-visible {
		outline: 4px solid white;
		border: 2px solid black;
		z-index: 2;
	}
}

.selected {
	&:not(:disabled) {
		outline: 3px solid hsl(192deg, 56%, 58%);
		filter: drop-shadow(0 0 8px hsla(181deg, 56%, 58%, 100%));
		animation: selectedCard 1500ms ease-in-out infinite alternate;
	}
}

.picked {
	outline: 3px dashed hsla(192deg, 56%, 58%, 70%);
}

@keyframes selectedCard {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-5px);
	}
}
