.card {
	position: relative;
	background: rgb(226, 202, 139);
	font-family: BangersRegular !important;

	&.disabled {
		filter: grayscale(1) brightness(0.9);
	}
}

.card text {
	fill: white;
	letter-spacing: 8px;
}

.cardBackground {
	fill: white;
}

.type {
	font-size: 72px;
}

.typeBackground {
	fill: rgb(226, 202, 139);
}

.rarity {
	fill: rgb(226, 202, 139);
}

.rank {
	filter: drop-shadow(0 0 5px rgb(92, 92, 92));
}

.rankText {
	&.iron {
		fill: #726f6d;
	}

	&.gold {
		fill: #958e31;
	}

	&.emerald {
		fill: #348647;
	}

	&.diamond {
		fill: #2a7c8a;
	}

	&.obsidian {
		fill: #b1ada9;
	}
}
