.card {
	position: relative;
	background: rgb(226, 202, 139);
}

.card text {
	dominant-baseline: hanging;
	text-anchor: middle;
	fill: white;
	letter-spacing: 8px;
}

.cardBackground {
	fill: white;
}

.type {
	font-size: 72px;
}

.typeBackground {
	fill: rgb(226, 202, 139);
}

/* .icon {
	filter: url('#drop-shadow');
} */
