.card {
	position: relative;
	background: rgb(226, 202, 139);
}

.card text {
	dominant-baseline: hanging;
	text-anchor: middle;
	fill: white;
	letter-spacing: 8px;
}

.cardBackground {
	fill: white;
}

.type {
	font-size: 72px;
}

.typeBackground {
	fill: rgb(226, 202, 139);
}

.rarity {
	fill: rgb(226, 202, 139);
}

.power {
	filter: drop-shadow(0 0 5px rgb(92, 92, 92));
}

.powerText {
	&.iron {
		fill: #726f6d;
	}

	&.gold {
		fill: #958e31;
	}

	&.diamond {
		fill: #2a7c8a;
	}
}
