/* X: 10 - 60 - 10 - 240 - 10 - 60 - 10 */

/* Y: 10 - 44 - M - N - 10 - N - 10 */

.card {
	background: white;
	letter-spacing: 0.065em;
	font-family: BangersRegular !important;

	&.disabled {
		filter: grayscale(1) brightness(0.9);
	}
}

.hermitImage {
	filter: drop-shadow(0px 0px 8px black);
}

.cardBackground {
	fill: rgb(226, 202, 139);

	&.alter_egos {
		fill: rgb(25, 25, 25);
	}

	&.pharaoh {
		fill: rgb(239, 228, 103);
	}

	&.advent_of_tcg {
		fill: rgb(206, 211, 206);
	}

	&.advent_of_tcg_ii {
		fill: rgb(209, 177, 161);
	}
}

.name {
	text-transform: uppercase;
	letter-spacing: 0.07em;
	fill: black;
	font-size: 45px;
	display: inline-block;

	&.alter_egos {
		fill: white;
	}

	&.pharaoh {
		fill: rgb(246, 4, 1);
	}
}

.health {
	fill: rgb(246, 4, 1);
	font-size: 45px;
	text-anchor: end;
	letter-spacing: 0.0389em;
}

.typeBackground {
	fill: white;
}

.hermitAttacks text {
	font-size: 45px;
}

text.attackName {
	font-size: 39px;
	text-transform: uppercase;
	fill: black;
	text-anchor: middle;

	&.alter_egos {
		fill: white;
	}

	&.pharaoh {
		fill: rgb(246, 4, 1);
	}

	&.pharaoh.specialMove {
		fill: rgb(23, 66, 234);
	}
}

.attackDamage {
	text-transform: uppercase;
	fill: rgb(246, 4, 1);
	text-anchor: end;
	letter-spacing: 0.0889em;
}

.attackDamage.specialMove {
	fill: rgb(23, 66, 234);

	&.alter_egos {
		fill: rgb(74, 128, 255);
	}
}

.attackItems.alter_egos.prankster {
	filter: drop-shadow(1px 1px 0 white) drop-shadow(-2px 0px 0 white)
		drop-shadow(1px -1px 0 white);
}

.attackItems.alter_egos.redstone {
	filter: drop-shadow(1px 1px 0 white) drop-shadow(-2px 0px 0 white)
		drop-shadow(1px -1px 0 white);
}

.rank {
	filter: drop-shadow(0 0 6px rgb(50, 50, 50));
}

.rankText {
	&.iron {
		fill: #726f6d;
	}

	&.gold {
		fill: #958e31;
	}

	&.emerald {
		fill: #348647;
	}

	&.diamond {
		fill: #2a7c8a;
	}

	&.obsidian {
		fill: #b1ada9;
	}
}
