.card {
	--border-size: 0.225em;
	position: relative;
	background: white;
	letter-spacing: 0.1em;
	width: 100%;
	height: 100%;
}

.cardBackground {
	position: absolute;
	top: var(--border-size);
	left: var(--border-size);
	bottom: var(--border-size);
	right: var(--border-size);
	background: rgb(226, 202, 139);
	border-radius: 0.3em;
	padding: 0 0.2em;
}

.topLine {
	display: flex;
	justify-content: space-between;
	padding-left: 0.5175em;
	padding-right: 1.55em;
	height: 0.99em;
	line-height: 0.99em;
}

.name {
	text-transform: uppercase;
	font-weight: bold;
	color: black;
	font-size: 0.9em;
}

.health {
	color: rgb(246, 4, 1);
	font-size: 0.9em;
	font-weight: bold;
}

.hermitType {
	position: absolute;
	background: white;
	top: -0.2em;
	right: -0.2em;
	border-radius: 50%;
	border-top-right-radius: 0;
	width: 1.8em;
	height: 1.8em;
	z-index: 2;
	text-align: center;
	line-height: 1.5em;
}

.hermitType img {
	width: 1.2em;
	height: 1.2em;
	vertical-align: bottom;
}

.rarity {
	top: 1.3em;
	left: 1.08em;
	width: 1em;
	height: 1em;
	position: absolute;
	z-index: 2;
	filter: drop-shadow(0 0 0.02em black) brightness(150%);
}

.rarity img {
	width: 1em;
	height: 1em;
}

.hermitImage {
	border: var(--border-size) solid white;
	width: 6.975em;
	height: 4.635em;
	margin: 0 auto;
	background: url('images/bg5.png') no-repeat; /*#4d4d4d;*/
	background-size: cover;
	overflow: hidden;
}

.hermitImage img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	height: 7.5em;
}

.primary,
.secondary {
	display: flex;
	justify-content: space-between;
	height: 1.35em;
	line-height: 1.35em;
}

.attackSeparator {
	height: var(--border-size);
	width: 100%;
	background: white;
}

.attackCost {
	width: 2em;
	flex: 0 0 2em;
	text-align: center;
	white-space: nowrap;
}

.attackCost img {
	width: 0.69em;
	height: 0.69em;
}

.attackName {
	flex: 1 1 0;
	width: 0;
	min-width: 0;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
	font-size: 0.75em;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
	letter-spacing: 0em;
}

.attackDamage {
	width: 1.8em;
	flex: 0 0 1.8em;
	text-transform: uppercase;
	font-weight: bold;
	color: rgb(246, 4, 1);
	font-size: 0.8em;
	text-align: right;
	padding-right: 0.2em;
}
