.card {
	position: relative;
	background: white;
	font-family: BangersRegular !important;
}

.card text {
	fill: black;
	letter-spacing: 8px;
}

.cardBackground {
	fill: white;
}

.cardBackground.farm {
	fill: rgb(124, 204, 12);
}

.cardBackground.redstone {
	fill: rgb(185, 33, 42);
}

.cardBackground.prankster {
	fill: rgb(116, 55, 168);
}

.cardBackground.explorer {
	fill: rgb(103, 138, 190);
}

.cardBackground.balanced {
	fill: rgb(101, 124, 50);
}

.cardBackground.builder {
	fill: rgb(184, 162, 154);
}

.cardBackground.pvp {
	fill: rgb(85, 202, 194);
}

.cardBackground.speedrunner {
	fill: rgb(223, 226, 36);
}

.cardBackground.terraform {
	fill: rgb(217, 119, 147);
}

.cardBackground.miner {
	fill: rgb(110, 105, 108);
}

.cardBackground.anarchist {
	fill: rgb(180, 167, 214);
}

.cardBackground.athlete {
	fill: rgb(0, 0, 255);
}

.cardBackground.bard {
	fill: rgb(255, 217, 102);
}

.cardBackground.challenger {
	fill: rgb(67, 67, 67);
}

.cardBackground.collector {
	fill: rgb(204, 65, 37);
}

.cardBackground.diplomat {
	fill: rgb(28, 69, 135);
}

.cardBackground.historian {
	fill: rgb(152, 0, 0);
}

.cardBackground.inventor {
	fill: rgb(217, 217, 217);
}

.cardBackground.looper {
	fill: rgb(60, 210, 216);
}

.cardBackground.pacifist {
	fill: rgb(255, 255, 255);
}

.cardBackground.scavenger {
	fill: rgb(120, 63, 4);
}

.cardBackground.any {
	fill: rgb(25, 25, 25);
}

.icon.any {
	filter: drop-shadow(8px 0px 1px rgb(25, 25, 25)) drop-shadow(-8px -0px 1px rgb(25, 25, 25))
		drop-shadow(0px 8px 1px rgb(25, 25, 25)) drop-shadow(0px -8px 1px rgb(25, 25, 25));
}

.type {
	font-size: 72px;
}

.typeBackground {
	fill: white;
}

.rarity {
	fill: white;
}

.x2 {
	font-size: 55px;
}

.rank {
	filter: drop-shadow(0 0 5px rgb(92, 92, 92));
}

.rankText {
	&.iron {
		fill: #726f6d;
	}

	&.gold {
		fill: #958e31;
	}

	&.emerald {
		fill: #348647;
	}

	&.diamond {
		fill: #2a7c8a;
	}

	&.obsidian {
		fill: #b1ada9;
	}
}
