.button {
	font-family: Minecraft, Unifont;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	background: var(--gray-200);
	height: 2.75rem;
	padding: 0 0.5rem;
	padding-bottom: 0.25rem;
	flex-shrink: 0;
	box-shadow: inset 0 -4px 0 0 var(--gray-500),
		inset 1px 1px 0 0 var(--gray-100), inset -1px -5px 0 0 var(--gray-100);
	color: var(--text-dark);
	border: 2px solid black;
	cursor: pointer;
	user-select: none;

	&:focus:not(:disabled) {
		outline: 3px solid white;
	}

	&:focus:not(:focus-visible) {
		outline: 0;
	}

	&:active:not(:disabled) {
		transform: translateY(1px);
	}

	&:disabled {
		filter: brightness(0.7);
		cursor: not-allowed;
		padding-bottom: 0;
		box-shadow: none;
	}
}

.primary {
	background: var(--color-primary);
	box-shadow: inset 0 -4px 1px var(--color-primary-shadow),
		inset 1px 1px 0 1px var(--color-primary-highlight),
		inset -1px -5px 0 1px var(--color-primary-highlight);
	color: var(--text-light);

	&:hover:not(:disabled),
	&:focus:not(:disabled) {
		background: var(--color-primary);
	}
}

.secondary {
	background: var(--color-secondary);
	box-shadow: inset 0 -4px 1px var(--color-secondary-shadow),
		inset 1px 1px 0 1px var(--color-secondary-highlight),
		inset -1px -5px 0 1px var(--color-secondary-highlight);
	color: var(--text-dark);

	&:hover:not(:disabled),
	&:focus:not(:disabled) {
		background: var(--color-secondary);
	}
}

.error {
	background: var(--color-error);
	box-shadow: inset 0 -4px 0 0 var(--color-error-shadow),
		inset 1px 1px 0 0 var(--color-error-highlight),
		inset -1px -5px 0 0 var(--color-error-highlight);
	color: var(--text-light);

	&:hover:not(:disabled),
	&:focus:not(:disabled) {
		background: var(--color-error);
	}
}

.gold {
	background: rgb(177, 150, 0);
	box-shadow: inset 0 -4px 1px rgb(77, 69, 25),
		inset 1px 1px 0 1px rgb(218, 198, 88),
		inset -1px -5px 0 1px rgb(218, 198, 88);
	color: var(--text-light);
}

.blue {
	background: rgb(58, 67, 151);
	box-shadow: inset 0 -4px 1px rgb(19, 24, 66),
		inset 1px 1px 0 1px rgb(115, 123, 197),
		inset -1px -5px 0 1px rgb(115, 123, 197);
	color: var(--text-light);
}

.pink {
	background: rgb(218, 94, 125);
	box-shadow: inset 0 -4px 1px rgb(138, 38, 63),
		inset 1px 1px 0 1px rgb(253, 137, 166),
		inset -1px -5px 0 1px rgb(253, 137, 166);
	color: var(--text-light);
}

.gold {
	background: rgb(177, 150, 0);
	box-shadow: inset 0 -4px 1px rgb(77, 69, 25),
		inset 1px 1px 0 1px rgb(218, 198, 88),
		inset -1px -5px 0 1px rgb(218, 198, 88);
	color: var(--text-light);
}

.blue {
	background: rgb(58, 67, 151);
	box-shadow: inset 0 -4px 1px rgb(19, 24, 66),
		inset 1px 1px 0 1px rgb(115, 123, 197),
		inset -1px -5px 0 1px rgb(115, 123, 197);
	color: var(--text-light);
}

.pink {
	background: rgb(218, 94, 125);
	box-shadow: inset 0 -4px 1px rgb(138, 38, 63),
		inset 1px 1px 0 1px rgb(253, 137, 166),
		inset -1px -5px 0 1px rgb(253, 137, 166);
	color: var(--text-light);
}

// MODIFIERS
.emphasis {
	font-family: Minecrafter;
}

.small {
	font-size: 0.8rem;
	height: 1.9rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-bottom: 0.05rem;

	@media (orientation: portrait) {
		// Accodinging to MDN web docs, buttons that should be clicked with fingers should be a
		// minimum of 44x44 css pixels
		min-height: 44px;
		min-width: 44px;
	}
}

.medium {
	height: 2.75rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.large {
	height: 3.5rem;
	font-size: 1.2rem;
}

.leftSlot {
	margin-right: auto;
	padding-right: 0.5rem;
	padding-top: 3px;
}

.rightSlot {
	margin-left: auto;
	padding-left: 0.5rem;
	padding-top: 3px;
}

// STYLES FOR SPLIT BUTTON
.splitButton {
	display: inline-flex;

	// Default SplitButton Styles
	.button {
		box-shadow: none;

		&:first-child {
			border-right: 0;
			flex-grow: 1;
			box-shadow: inset 0 -4px 0 0 var(--gray-500),
				inset 0 -6px 0 0 var(--gray-100),
				inset 2px 2px 0 0 var(--gray-100);
		}

		&:not(:first-child, :last-child) {
			border-left: 0;
			border-right: 0;
			flex-grow: 1;
			box-shadow: inset 0 -4px 0 0 var(--gray-500),
				inset 0 -6px 0 0 var(--gray-100),
				inset 0 2px 0 0 var(--gray-100);
		}

		&:last-child {
			border-left: 0;
			min-width: 1.5rem;
			box-shadow: inset 0 -4px 0 0 var(--gray-500),
				inset -2px -6px 0 0 var(--gray-100),
				inset 0 2px 0 0 var(--gray-100);
		}
	}

	// Primary SplitButton Styles
	.primary {
		&:first-child {
			box-shadow: inset 0 -4px 0 0 var(--color-primary-shadow),
				inset 0 -6px 0 0 var(--color-primary-highlight),
				inset 2px 2px 0 0 var(--color-primary-highlight);
		}

		&:not(:first-child, :last-child) {
			box-shadow: inset 0 -4px 0 0 var(--color-primary-shadow),
				inset 0 -6px 0 0 var(--color-primary-highlight),
				inset 0 2px 0 0 var(--color-primary-highlight);
		}

		&:last-child {
			box-shadow: inset 0 -4px 0 0 var(--color-primary-shadow),
				inset -2px -6px 0 0 var(--color-primary-highlight),
				inset 0 2px 0 0 var(--color-primary-highlight);
		}
	}

	// Secondary SplitButton Styles
	.secondary {
		&:first-child {
			box-shadow: inset 0 -4px 0 0 var(--color-secondary-shadow),
				inset 0 -6px 0 0 var(--color-secondary-highlight),
				inset 2px 2px 0 0 var(--color-secondary-highlight);
		}

		&:not(:first-child, :last-child) {
			box-shadow: inset 0 -4px 0 0 var(--color-secondary-shadow),
				inset 0 -6px 0 0 var(--color-secondary-highlight),
				inset 0 2px 0 0 var(--color-secondary-highlight);
		}

		&:last-child {
			box-shadow: inset 0 -4px 0 0 var(--color-secondary-shadow),
				inset -2px -6px 0 0 var(--color-secondary-highlight),
				inset 0 2px 0 0 var(--color-secondary-highlight);
		}
	}

	// Error SplitButton Styles
	.error {
		&:first-child {
			box-shadow: inset 0 -4px 0 0 var(--color-error-shadow),
				inset 0 -6px 0 0 var(--color-error-highlight),
				inset 2px 2px 0 0 var(--color-error-highlight);
		}

		&:not(:first-child, :last-child) {
			box-shadow: inset 0 -4px 0 0 var(--color-error-shadow),
				inset 0 -6px 0 0 var(--color-error-highlight),
				inset 0 2px 0 0 var(--color-error-highlight);
		}

		&:last-child {
			box-shadow: inset 0 -4px 0 0 var(--color-error-shadow),
				inset -2px -6px 0 0 var(--color-error-highlight),
				inset 0 2px 0 0 var(--color-error-highlight);
		}
	}
}
