.timer {
	display: grid;
	place-content: center;
	text-align: center;
	align-items: center;
	justify-content: center;
	background: hsla(195deg, 53%, 60%, 35%);
	flex-grow: 1;

	// padding: 0 15px;
	width: 120px;
	border: 4px solid hsl(192deg, 56%, 58%);

	@media (orientation: portrait) {
		display: flex;
		vertical-align: middle;
	}

	> p {
		color: yellow;
		font-size: 14px;
	}

	> span {
		font-family: Minecrafter, sans-serif;
		font-size: 24px;

		@media (orientation: portrait) {
			font-size: 20px;
			margin: 0px;
		}
	}
}

.white {
	color: var(--text-light);
}

.orange {
	color: rgb(255, 179, 0);
}

.red {
	color: rgb(255, 4, 0);
}

.blue {
	color: rgb(42, 84, 251);
}

@media (orientation: portrait) {
	.timeLeft {
		display: none;
	}
}
