.deck {
	display: flex;
	justify-items: stretch;
	flex-direction: column;
	background: var(--gray-600);
	width: 100%;
	border: 2px solid black;
	flex-grow: 1;
	overflow: hidden;
	user-select: none;
}

.header {
	display: flex;
	position: relative;
	flex-shrink: 0;
	align-items: center;
	justify-content: flex-start;
	height: 3rem;
	background-color: var(--gray-700);
	gap: 0.5rem;
	padding: 0.5rem 1rem;
	filter: drop-shadow(0 2px 0 rgba(0, 0, 0, 35%));
	z-index: 2;
}

.body {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 0 1 auto;
	flex-grow: 1;
	overflow-y: scroll;
	padding: 1rem;
}

.mobile {
	min-height: 100%;
	display: none;
	visibility: hidden;
}

// Mobile
@media screen and (max-width: 720px) {
	.mobile {
		display: inherit;
		visibility: inherit;
		height: 100%;
	}

	.body {
		padding: 0px;
	}

	.deck {
		border: none;
		height: 100%;
	}

	.desktop {
		display: none;
		visibility: hidden;
	}
}