.sidebar {
	position: relative;
	border: 2px solid black;
	user-select: none;
	background: var(--gray-700);
}

.body {
	flex-grow: 1;
	overflow-y: auto;
}

.header {
	position: relative;
	display: flex;
	gap: 0.5rem;
	flex-shrink: 0;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem;
	height: 3rem;
	font-family: Minecrafter;
	background-color: var(--gray-600);
	filter: drop-shadow(0 2px 0 rgba(0, 0, 0, 35%));
	z-index: 1;
}

.toggle {
	display: grid;
	place-content: center;
	background: var(--gray-700);
	padding: 0.5rem;
	min-width: 1rem;
	border-radius: 6px;
	font-size: 2rem;
	cursor: pointer;

	&:hover,
	&.open {
		background: var(--gray-900);
		filter: brightness(1.1);
	}
}

.toggleImage {
	width: 1.5rem;
	height: 1.5rem;
}

.bodyWrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	border: none;
	flex-grow: 1;
	z-index: 0;
	overflow-y: auto;
}

.hide {
	display: none;
}

@media screen and (max-width: 720px) {
	.bodyWrapper {
		position: absolute;
		background: #313233fd;
		width: calc(100% + 4px);
		transform: translateX(-2px);
		max-height: calc(80vh);
		z-index: 12;
		border: 2px solid black;
	}
}

// DESKTOP
@media (min-width: 720px) {
	.sidebar {
		width: clamp(200px, 24rem, 500px);
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	.header {
		cursor: default;
	}

	.hide {
		display: flex; //Disable hiding the sidebar on desktop
	}

	.half {
		width: 80%;
	}
}

.showOnMobile {
	display: none;
	visibility: hidden;
}

// MOBILE
@media (max-width: 720px) {
	.sidebar {
		border: 0px solid black;
	}

	.showOnMobile {
		display: inherit;
		visibility: visible;
	}

	.hideOnMobile {
		display: none;
		visibility: hidden;
	}
}