.page {
	height: 100%;
	display: flex;
	flex-direction: column;
	color: var(--text-light);
	transition: height 0.25s ease-in-out;
}

.background {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	background: url("/images/menu-background-image.png") center center no-repeat;
	background-size: cover;
	filter: blur(2px);
}

header {
	height: 3rem;
	background: var(--gray-50);
	filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 25%));
	position: sticky;
	top: 0;
	z-index: 20;
	padding-bottom: 0.25rem;
	box-shadow: inset 0 -2px #b1b2b5, inset 0 -3px #ebedef;

	.headerElements {
		position: relative;
		height: 3rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.headerReturn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		left: 0;
		margin-left: 0.8rem;
		filter: drop-shadow(0 0 1px rgba(0, 0, 0, 25%));

		&:hover {
			background-color: #f8faff;
			cursor: pointer;
		}

		img {
			padding: 0.5rem;
			border-radius: 4px;
			font-size: 1.75rem;
			height: 30px;
			width: 30px;
		}

		h2 {
			padding-right: 0.5rem;
			font-size: 0.8rem;
			color: var(--gray-600);
			transform: translateY(1px);
		}
	}

	h1 {
		font-size: 1.2rem;
		color: var(--text-dark);
	}
}

.body {
	z-index: 1;
	margin-inline: auto;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	height: 100%;
	width: 100%;
	max-width: 80rem;
	align-items: stretch;
	overflow: auto;
}

.wrapper {
	margin: 1rem auto;
	display: flex;
	flex-direction: column-reverse;
	gap: 1rem;
	height: 100%;
	width: 100%;
	max-width: 80rem;
	align-items: stretch;
	overflow: hidden;
}

@media (min-width: 720px) {
	.page {
		transition: none;
	}

	.wrapper {
		flex-direction: row;
	}
}

/* MOBILE */
@media screen and (max-width: 720px) {
	.hideOnMobile {
		display: none;
	}

	.wrapper {
		margin: 0.5rem;
		gap: 0px;
		height: auto;
		width: auto;
		border: 2px black solid;
		height: 100%;
	}

	.body {
		padding: 0px;
	}
}