.buttonContainer {
	width: 20rem;
	height: 30rem;
}

.backgroundContainer {
	position: absolute;
	width: 20rem;
	height: 30rem;
}

.buttonContainer:hover {
	transition: filter 0.2s, transform 0.2s;
	filter: saturate(1.1) brightness(1.1);
	transform: scale(1.01);
}

.backgroundImage {
	position: absolute;
	width: 20rem;
	height: 30rem;
	z-index: -1000;
	border: 2px black solid;
}

.vingette {
	width: 20rem;
	height: 30rem;
	box-shadow: inset 0 0 30px black;
	background: linear-gradient(0deg, black 10%, rgba(0, 0, 0, 0) 40%);
}

.button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	padding: 1rem;
	font-family: Minecraft;
	width: 100%;
	height: 100%;
}

.hermitImage {
	filter: drop-shadow(0px 0px 15px black);
	z-index: -900;
}

.text {
	color: var(--text-light);
	z-index: 0;
	font-size: 1rem;

	h1 {
		font-size: 1.5rem;
	}
}
