$speed: 800ms;
$size: 4vh;

.pixelSpinner {
	width: $size;
	height: $size;
	display: grid;
	grid-template: repeat(7, 1fr) repeat(7, 1fr) '. . p3 p2 p1 . .'
		'. p4 . . . p16 .'
		'p5 . . . . . p15'
		'p6 . . . . . p14'
		'p7 . . . . . p13'
		'. p8 . . . p12 .'
		'. . p9 p10 p11 . .';
}

.pixel {
	width: 100%;
	height: 100%;
	background: white;
	opacity: 0;
	animation: spinner $speed infinite ease-in-out;
}

@for $i from 1 through 16 {
	.pixel#{$i} {
		grid-area: p#{$i};
		animation-delay: $speed / 16 * -$i;
	}
}

@keyframes spinner {
	0% {
		opacity: 1;
	}

	25% {
		opacity: 1;
	}

	75% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}
