.deck {
	width: 1050px;
	background: #ccc;
	margin: 0 auto;
}

.header {
	position: sticky;
	top: 0;
	z-index: 15;
	box-shadow: 0 3px 3px #111;
}

.topLine {
	padding: 15px;
	display: flex;
	gap: 15px;
	align-items: center;
	background: #ccc;
}

.topLine > * {
	flex: 0 0 auto;
}

.limits {
	flex: 1 1 auto;
	min-width: 0;
	font-family: Minecraft;
	font-size: 12px;
}

.cardsHeader {
	display: flex;
	flex-flow: row nowrap;
}

.cardsTitle {
	flex: 1 1 auto;
	width: 0;
	text-align: center;
	font-family: MinecraftBold;
	padding: 10px 0 10px 0;
	color: white;
	font-size: 16px;
	height: 36px;
}

.cards {
	display: flex;
	flex-flow: row nowrap;
}

.cardColumn {
	flex: 1 1 auto;
	width: 0px;
	padding: 15px;
}

.allCards {
	background: #2a2727;
}

.selectedCards {
	background: #393433;
}

.tokens {
	color: rgb(98, 255, 255);
}

.saveLoadDecks {
	display: flex;
	flex-flow: row nowrap;
}

.dynamicSpace {
	flex: 1 1 auto;
	width: 0;
}
