.filterGroup {
	background: var(--gray-500);
	padding: 0.5rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 1rem;
}

.validationMessage {
	position: sticky;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	border: 2px solid var(--color-secondary-highlight);
	background: var(--color-secondary);
	color: var(--text-dark);
	filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.35))
		drop-shadow(0 2px 10px rgba(0, 0, 0, 0.5));
	z-index: 11;
}

.cardCount {
	display: flex;
	flex-direction: row;
	gap: 0.25rem;
	font-family: Minecraft;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	line-height: 100%;
	background: var(--gray-600);
	padding: 0.5rem 0.75rem;
	border-radius: 6px;
}

.cardCount > span {
	font-size: 0.7rem;
	font-weight: 100;
	letter-spacing: 0;
}

.deckName {
	font-weight: 700;
	font-size: 1.2rem;
}

.myDecksItem {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem;
	user-select: none;

	&:hover {
		cursor: pointer;
		background: #48494a;
		box-shadow: inset 0px -2px #5a5b5c, inset 0px 2px #2b2c2c;
	}
}

.selectedDeck {
	font-size: 1rem;
	color: gold;
	text-indent: 3px;
	background: linear-gradient(
		to right,
		rgba(var(--color-700), 0),
		rgba(var(--color-900), 0.4)
	);
	transition: all 0.25s ease-in-out;
}

.newDeckButton {
	font-family: Minecrafter;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--color-primary);
	height: 2.75rem;
	padding: 0 0.5rem;
	padding-bottom: 0.25rem;
	box-shadow: inset 0 -4px 1px var(--color-primary-shadow),
		inset 1px 1px 0px 1px var(--color-primary-highlight),
		inset -1px -5px 0px 1px var(--color-primary-highlight);
	border: 1.5px solid black;
	cursor: pointer;
	user-select: none;

	&:hover {
		background: #639d52;
	}

	&:active {
		transform: translateY(1px);
	}

	> p {
		font-size: 1rem;
		filter: var(--text-shadow);
		letter-spacing: 0.5px;
	}
}

.splitButton {
	display: flex;
	margin: 0.5rem;

	.newDeckButton {
		box-shadow: none;
	}

	.newDeckButton:first-child {
		border-right: 0;
		box-shadow: inset 0 -4px 0 0 var(--color-primary-shadow),
			inset 2px 2px 0px 0 var(--color-primary-highlight),
			inset 0px -6px 0px 0 var(--color-primary-highlight);
		flex-grow: 1;
	}

	.newDeckButton:last-child {
		border-left: 0;
		font-family: Minecraft;
		min-width: 1.5rem;
		box-shadow: inset 0 -4px 0 0 var(--color-primary-shadow),
			inset 0 2px 0px 0 var(--color-primary-highlight),
			inset 0 -6px 0px 0 var(--color-primary-highlight),
			inset -2px 0 0px 0 var(--color-primary-highlight);
	}

	.caret {
		all: unset;
		color: white;
		height: 1rem;
		width: 1rem;
		filter: brightness(5);
	}
}

.deckImage {
	display: grid;
	place-content: center;
	background-color: var(--gray-500);
	border-radius: 6px;
	width: 2rem;
	height: 2rem;
	flex-shrink: 0;

	> img {
		height: 1.5rem;
		filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.25));
	}
}

.dropdownButton {
	display: grid;
	place-content: center;
	background-color: var(--gray-500);
	border-radius: 6px;
	width: 2rem;
	height: 2rem;
	flex-shrink: 0;
	cursor: pointer;

	> img {
		height: 1.5rem;
		filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.25));
	}

	&:hover,
	&:focus {
		background: var(--gray-600);
		filter: brightness(1.1);
	}

	&:focus {
		outline: 3px solid white;
	}

	&:focus:not(:focus-visible) {
		outline: 0;
	}
}

.button {
	margin: 0 1rem;
}

.sidebarButton {
	padding: 0.5rem;
	display: flex;
	justify-content: stretch;

	> * {
		flex-grow: 1;
	}
}

.cardCountGroup {
	margin-right: 1rem;
	background: var(--gray-500);
	padding: 0.25rem 0.75rem;
	border-radius: 6px;
}

.common {
	color: var(--common);
}

.rare {
	color: var(--rare);
}

.ultraRare {
	color: var(--ultra-rare);
}

.dynamicSpace {
	flex: 1 1 auto;
	width: 0;
}

.error {
	color: red;
}

.input {
	background: var(--gray-400);
	border: 2px solid var(--gray-900);
	box-shadow: inset 0 4px 0 var(--gray-900);
	color: white;
	height: 2.4rem;
	padding: 0.5rem;
	padding-bottom: 0.25rem;

	&::placeholder {
		color: white;
	}
	&:invalid[data-focused='true'] ~ .errorMessage {
		display: inline;
		width: 100%;
		color: red;
		font-family: minecraft;
	}
}

.errorMessage {
	padding-top: 0.25rem;
	display: none;
	font-size: 0.8rem;
}

.deckDetails {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.dark {
	background: var(--gray-700);
}

.editDeckInfo {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	// background: var(--gray-800);
	// border-bottom: 1px solid var(--gray-100);
	// border-radius: 0.5rem;
}

.editDeckInfoSettings {
	display: flex;
	// align-items: center;
	gap: 0.5rem;
}

.inputValidationGroup {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: stretch;
}

.headerGroup {
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 1;
	width: 100%;
	gap: 0.5rem;
}

.editableDeckName:not(:focus) {
	// box-shadow: none;
	// padding: 0.5rem 0 0.25rem 0.25rem;
	// border: none;
	// border-bottom: 2px solid var(--gray-300);
	// background: transparent;

	// border: 1px solid white;
	// color: var(--text-light);
	// background: transparent;
	// border: none;
	// font-size: 1.25rem;
	// font-weight: bold;
	// flex-grow: 1;
	// cursor: pointer;

	// &::placeholder {
	// 	color: var(--gray-500);
	// }

	&:invalid[data-focused='true'] ~ .errorMessage {
		display: block;
		width: 100%;
		color: red;
	}
}

.sidebarHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

.sidebarIcon {
	// position: absolute;
	left: 1rem;
	height: 2rem;
}

.clearFilters {
	border-radius: 0.5rem;
	height: 1.5rem;
	min-width: 1.5rem;
	padding: 0.4rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--text-light);
	border: 1px solid transparent;
	background-color: var(--gray-900);
	border: 1px solid transparent;
	cursor: pointer;

	&:hover {
		background-color: var(--gray-400);
	}

	&:focus {
		border: 1px solid var(--gray-100);
	}

	> img {
		height: 1.5rem;
		width: 1.5rem;
	}
}

.filters {
	display: flex;
	gap: 0.25rem;
	position: relative;
	z-index: 1;
}

.caret {
	height: 1rem;
	width: 1rem;
}

/* DESKTOP */
@media (min-width: 720px) {
	.mobileDeckSelect {
		display: none;
	}

	.deckWrapper {
		flex-direction: row;
	}

	.myDecks {
		display: flex;
	}
}

.IconButton {
	border-radius: 0.5rem;
	height: 1.5rem;
	padding: 0.4rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--text-light);
	background-color: var(--gray-900);
	border: 1px solid transparent;

	&:hover {
		background-color: var(--gray-400);
	}

	&:focus {
		border: 1px solid var(--gray-100);
	}

	> img {
		height: 1.5rem;
		width: 1.5rem;
	}
}
