.tab {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 180px;
	background-color: var(--gray-600);
	box-shadow: inset 1px 1px 0 1px var(--gray-500);

	border: 2px black solid;

	&:not(.left),
	&:not(.right) {
		border-bottom: 0px;
	}

	&.left {
		border-right: 0px;
	}

	&.right {
		border-left: 0px;
	}

	&.left,
	&.right {
		box-shadow: inset 0 -2px 1px black, inset 1px 1px 0 1px var(--gray-500),
			inset -1px -3px 0 1px var(--gray-500);
	}

	&.deselected {
		cursor: pointer;
		background-color: var(--gray-800);
		box-shadow: inset 0 -5px 1px black,
			inset -1px -1px 0 1px var(--gray-500),
			inset 1px -6px 0 1px var(--gray-500);

		&.left {
			box-shadow: inset 0 -5px 1px black,
				inset -1px -1px 0 1px var(--gray-500),
				inset 1px -6px 0 1px var(--gray-500);
		}
	}
}

.tabs {
	color: var(--text-light);
	font-family: Minecrafter;
	font-size: 0.9rem;
	height: 60px;
	min-height: 60px;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: center;

	&.vertical {
		height: 100%;
		flex-direction: column;
		min-height: 100%;

		.afterTabs {
			width: 100%;
			height: inherit;
			border: 0px;
			border-right: 2px black solid;
		}

		.tab {
			flex-direction: column;
			height: 10vh;
			font-size: 1.1rem;
			width: 100%;

			box-shadow: inset -2px 0 1px black,
				inset 1px -1px 0 1px var(--gray-500),
				inset -3px 1px 0 1px var(--gray-500);

			&.deselected {
				box-shadow: inset -5px 0 1px black,
					inset 1px -1px 0 1px var(--gray-500),
					inset -6px 1px 0 1px var(--gray-500);
			}
		}
	}

	&:not(.vertical) {
		.tab {
			min-height: 100%;
		}
	}
}

.afterTabs {
	flex-grow: 1;
	height: 100%;
	border-bottom: 2px black solid;
}

@media (max-width: 720px) {
	.tab {
		width: 100%;
	}

	.tabs {
		min-height: 6vh;
		height: 6vh;
		width: 100%;
	}

	.afterTabs {
		flex-grow: 0;
		width: 0px;
		height: 8vh;
	}
}
