.cardList {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: row wrap;
	gap: 5px;
}

.cardList.noWrap {
	flex-flow: row nowrap;
}

.card {
	flex: 0 0 auto;
	display: inline-block;
	vertical-align: middle;
	width: 200px;
	height: 200px;
}

.stackCard {
	display: inline-block;
	width: 200px;
	height: 200px;
	text-align: center;
	transition: .5s;
}

.small {
	grid-template-columns: repeat(auto-fill, 120px);
}

.small .card .stackCard{
	width: 120px;
	height: 120px;
}

.clickable {
	transition: 0.25s transform;
	transform: scale(100%);
}

.clickable:hover {
	box-shadow: 0 0 4px #777;
	transform: scale(105%);
	z-index: 10;
}

.stackCardCount {
	height: 50px;
	width: 50px;
	background-color: white;
	border-radius: 100%;
	border: 2px solid #e2ca8b;
	color: black;
	display: flex;
	position: relative;
	bottom:20px;
	left: 75px;
	font-size: 30px;
	z-index: 10;
	font-family: 'Bangers', Helvetica, serif;
	align-items: center;
	justify-content: center;
}
