@use "sass:math";

$gap: 0;
$speed: 200ms;
$card-size: 118px;

.cardList {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: row;
	height: $card-size;
	gap: $gap;
}

.wrap {
	container-type: inline-size;
	container-name: cardList;
	flex-wrap: wrap;
	height: 100%;
}

.autoscale {
	@for $i from 1 through 20 {
		@container cardList (width > calc(#{$i} * #{$card-size})) {
			@if $i >3 {
				width: calc(100% / #{$i});
			}

			@else if $i ==2 {
				width: 33%;
			}

			@else if $i ==1 {
				width: 50%;
			}
		}
	}
}

.defaultSize {
	width: $card-size;
	flex: 0 0 auto;
}

.card {
	display: grid;
}

.cardWithStatus {
	position: relative;
}

.clickable:not(:disabled) {
	transform: scale(100%);

	&:hover {
		box-shadow: 0 0 4px #777;
		transform: scale(105%);
		z-index: 10;
	}
}

// React Transitions Group Animations
.enter {
	opacity: 0;
	width: 0px;

	>svg {
		transition: all $speed ease-in;
		filter: scale(0);
	}
}

.enterActive {
	transition: all $speed ease-in;
	opacity: 1;
	width: $card-size;
}

.enterDone {
	opacity: 1;
}

.exit {
	transition: all $speed ease-in;
	opacity: 1;

	>svg {
		transition: all $speed ease-in;
		opacity: 1;
		filter: scale(100%);
	}
}

.exitActive {
	transition: all $speed ease-in;
	opacity: 0;
	margin-right: -$gap;
	width: 0px;

	>svg {
		transition: all $speed ease-in;
		opacity: 0;
		filter: scale(0);
	}
}

.mobileCardListSmall {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(12, 1fr);
	justify-content: left;
	align-items: start;
	width: 100%;
	padding: 0.25rem;
	overflow-y: scroll;
	overflow-x: hidden;
}

@media (max-width: 440px) {
	.mobileCardListSmall {
		display: flex;
		flex-direction: column;
		align-items: normal;
	}
}