$gap: 0;
$speed: 250ms;

.cardList {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: row nowrap;
	height: 110px;
	gap: $gap;
}

.wrap {
	flex-wrap: wrap;
	height: unset;

	svg {
		height: 118px;
	}
}

.card {
	flex: 0 0 auto;
	display: grid;
	place-content: center;
	vertical-align: middle;
}

.clickable:not(:disabled) {
	transform: scale(100%);

	&:hover {
		box-shadow: 0 0 4px #777;
		transform: scale(105%);
		z-index: 10;
	}
}

// React Transitions Group Animations
.enter {
	transition: all $speed ease-in;
	opacity: 0;
	width: 0;

	> svg {
		transition: all $speed ease-in;
		filter: scale(0);
	}
}

.enterActive {
	transition: all $speed ease-in;
	opacity: 1;
	width: 100px;

	> svg {
		transition: all $speed ease-in;
		filter: scale(100%);
	}
}

.enterDone {
	opacity: 1;
}

.exit {
	transition: all $speed ease-in;
	opacity: 1;
	width: 100px;

	> svg {
		transition: all $speed ease-in;
		opacity: 1;
		filter: scale(100%);
	}
}

.exitActive {
	transition: all $speed ease-in;
	opacity: 0;
	width: 0;
	margin-right: -$gap;

	> svg {
		transition: all $speed ease-in;
		opacity: 0;
		filter: scale(0);
	}
}
