.cardList {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: row wrap;
	gap: 5px;

	&.noWrap {
		flex-flow: row nowrap;
	}
}

.card {
	flex: 0 0 auto;
	display: inline-block;
	vertical-align: middle;
	width: 200px;
	height: 200px;
}

.small {
	grid-template-columns: repeat(auto-fill, 120px);

	.card {
		width: 120px;
		height: 120px;
	}
}

.game {
	$size: 11vh;

	grid-template-columns: repeat(auto-fill, $size);

	.card {
		height: $size;
		width: $size;
	}
}

.clickable {
	transition: 0.25s transform;
	transform: scale(100%);

	&:hover {
		box-shadow: 0 0 4px #777;
		transform: scale(105%);
		z-index: 10;
	}
}

.disabled {
	filter: brightness(50%);
}
