.dropdownMenu {
	position: absolute;
	z-index: 200;
}

.DropdownMenuContent {
	min-width: 3rem;
	color: var(--text-light);
	background-color: var(--gray-900);
	border-radius: 4px;
	padding: 0.5rem;
	border: 1px solid var(--gray-100);
	z-index: 500;
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
	animation-name: slideDownAndFade;
}

.DropdownMenuItem,
.DropdownMenuCheckboxItem,
.DropdownMenuRadioItem {
	font-size: 1rem;
	line-height: 1;
	color: var(--text-light);
	border-radius: 3px;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	padding: 0.25rem;
	position: relative;
	user-select: none;
	outline: none;
	cursor: pointer;

	::first-letter {
		text-transform: capitalize;
	}

	&:hover {
		background-color: var(--gray-200);
		color: var(--text-dark);
	}
}

.DropdownMenuLabel {
	text-align: center;
	font-weight: bold;
}

.DropdownMenuItemIndicator {
	position: absolute;
	left: 0;
	width: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: hotpink;
}

.DropdownMenuArrow {
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid var(--gray-200);
	transform: translateX(12px);
}

.color {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
}

.input {
	padding-top: 1rem;
	min-width: 100px;
	background: var(--gray-400);
	border: 2px solid var(--text-light);
	color: white;
	height: 2.4rem;
	padding: 0.5rem;
	padding-bottom: 0.25rem;
	font-size: 0.8rem;
}

@keyframes slideDownAndFade {
	from {
		opacity: 0;
		transform: translateY(-2px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
