.dropdownContainer {
	position: relative;
}

.dropdownMenu {
	position: absolute;
	width: max-content;
	z-index: 200;

	&.down {
		top: 100%;
	}

	&.up {
		bottom: 100%;
	}

	&.left {
		left: 0;
	}

	&.right {
		right: 0;
	}
}

.DropdownMenuContent {
	min-width: 3rem;
	color: var(--text-light);
	background-color: var(--gray-900);
	border-radius: 4px;
	padding: 0.5rem;
	border: 1px solid var(--gray-100);
	z-index: 500;
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
	animation-name: slideDownAndFade;

	&.up {
		animation-name: slideUpAndFade;
	}
}

.DropdownMenuItem,
.DropdownMenuCheckboxItem,
.DropdownMenuRadioItem {
	font-size: 1rem;
	line-height: 1;
	color: var(--text-light);
	border-radius: 3px;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	padding: 0.25rem;
	position: relative;
	user-select: none;
	outline: none;
	cursor: pointer;

	::first-letter {
		text-transform: capitalize;
	}

	&:hover {
		background-color: var(--gray-200);
		color: var(--text-dark);
	}
}

.DropdownMenuLabel {
	text-align: center;
	font-weight: bold;
}

.DropdownMenuItemIndicator {
	position: absolute;
	left: 0;
	width: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: hotpink;
}

.DropdownMenuArrow {
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid var(--gray-200);
	margin-left: 12px;

	&.right {
		margin-left: calc(100% - 16px);
	}
}

.DropdownMenuArrowUp {
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid var(--gray-200);
	margin-left: 12px;

	&.right {
		margin-left: calc(100% - 16px);
	}
}

.color {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
}

.input {
	padding-top: 1rem;
	min-width: 100px;
	background: var(--gray-400);
	border: 2px solid var(--text-light);
	color: white;
	height: 2.4rem;
	padding: 0.5rem;
	padding-bottom: 0.25rem;
	font-size: 0.8rem;
}

.checkbox {
	background-color: var(--gray-300);
	border: 2px black solid;
	width: 25px;
	height: 25px;
	right: 0px;
	cursor: pointer;

	&:active {
		transform: translateY(1px);
	}

	&.checked {
		background-color: var(--gray-200);
	}

	&.checked::after {
		display: flex;
		content: url("/images/icons/checkmark.png");
		position: absolute;
		width: 18px;
		height: 18px;
		image-rendering: crisp-edges;
		margin-left: 2px;
		margin-top: 2px;
	}

	&.hidden {
		visibility: hidden;
	}
}

@keyframes slideDownAndFade {
	from {
		opacity: 0;
		transform: translateY(-2px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideUpAndFade {
	from {
		opacity: 0;
		transform: translateY(2px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
