.loginContainer {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding-top: 10vh;
	width: 95vw;
	margin-inline: auto;
}

.connecting {
	margin-top: 15vw;
	height: 5vh;
	font-size: 2.5vh;
	line-height: 100%;
	text-align: center;
	color: var(--text-light);
	filter: drop-shadow(1px 1px 0 var(--text-dark));
}

.nameForm {
	display: flex;
	margin-top: 15vw;

	> * {
		font-size: 1.5vh;
		line-height: 100%;
	}
}

.customInput {
	position: relative;
	height: 5vh;
	width: 35vh;

	label {
		line-height: normal;
		position: absolute;
		font-size: 2vh;
		color: var(--gray-700);
		transition: top 250ms, left 250ms;
		top: 1.4vh;
		left: 1.5vh;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		pointer-events: none;
	}

	input {
		padding-left: 1vh;
		padding-right: 0;
		border-radius: 0;
		width: 100%;
		height: 5vh;
		font-size: 2vh;

		&:focus-visible + label,
		&:not(:placeholder-shown) + label {
			top: -3vh;
			left: 0.8vh;
			color: var(--text-light);
			filter: drop-shadow(1px 1px 1px black);
		}
	}
}

.error {
	margin: 2vh 0;
	min-height: 4vh;
	display: grid;
	place-content: center;
	padding: 1vh 2vh;
	text-align: center;
	border: 2px solid var(--color-error-highlight);
	background: var(--color-error);
	color: var(--text-light);
	font-size: 1.7vh;
	filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 35%))
		drop-shadow(0 2px 10px rgba(0, 0, 0, 50%));
	animation: shake 150ms forwards;
}

@keyframes shake {
	0% {
		transform: translateX(-5px);
	}

	25% {
		transform: translateX(5px);
	}

	50% {
		transform: translateX(-5px);
	}

	75% {
		transform: translateX(5px);
	}

	100% {
		transform: translateX(0);
	}
}

// DESKTOP
@media (min-width: 80vh) {
	.nameForm,
	.connecting {
		margin-top: min(11.5vh, 13vw);
	}
}
