.loginBackground {
	display: flex;
	justify-content: center;

	margin: 0px;

	height: 100vh;
	width: 100vw;

	background-image: url('/images/menu-background.png');
	background-size: cover;
	background-position: center;

	font-family: Minecraft;
}

/* Prevent selection */
.loginBackground * {
	user-select: none;
}

.loginContainer {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding-top: 15vh;
}

.connecting {
	margin-top: min(11.5vh, 13vw);
	height: 5vh;
	font-size: 2.5vh;
	line-height: 100%;
	text-align: center;
	color: white;
}

.nameForm {
	display: flex;
	margin-top: min(11.5vh, 13vw);
}

.nameForm > * {
	font-size: 2vh;
	line-height: 100%;
}

.nameForm .nameForm > button {
	width: 8vh;
}

.customInput {
	position: relative;

	width: 35vh;
	height: 5vh;
}

.customInput input {
	padding-left: 1vh;
	padding-right: 0;
	border-radius: 0;
	width: 100%;
}

.customInput .placeholder {
	line-height: normal;
	position: absolute;
	font-size: 2vh;

	color: #808080;

	transition: all 0.4s;

	top: 1.5vh;
	left: 1.5vh;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	pointer-events: none;
}

.customInput input:focus-visible + .placeholder,
.customInput input:not(:placeholder-shown) + .placeholder {
	top: -2.9vh;
	left: 0.8vh;
	font-size: 2.5vh;
	color: #000;
}

@media screen and (max-width: 80vh) {
	.nameForm,
	.connecting {
		margin-top: 15vw;
	}
	.nameForm * {
		font-size: 1.5vh !important;
	}
	.nameForm .customInput {
		width: 50vw;
	}

	.customInput .placeholder {
		top: 1.75vh;
		left: 1.4vh;
	}
	.customInput input:focus-visible + .placeholder,
	.customInput input:valid + .placeholder {
		transition: all 0.5s;
		top: -2.3vh;
		left: 0.5vh;
		font-size: 2vh !important;
		color: #000;
	}
}
