.loginBackground {
	display: flex;
	justify-content: center;
	margin: 0;
	height: 100%;
	width: 100%;
	background-image: url('/images/menu-background.png');
	background-size: cover;
	background-position: center;

	* {
		font-family: Minecraft;
	}
}

.loginContainer {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding-top: 15vh;
}

.connecting {
	margin-top: min(11.5vh, 13vw);
	height: 5vh;
	font-size: 2.5vh;
	line-height: 100%;
	text-align: center;
	color: white;
}

.nameForm {
	display: flex;
	margin-top: min(11.5vh, 13vw);

	> * {
		font-size: 2vh;
		line-height: 100%;
	}
}

.placeholder {
	line-height: normal;
	position: absolute;
	font-size: 2vh;
	color: #808080;
	transition: all 0.4s;
	top: 1.5vh;
	left: 1.5vh;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	pointer-events: none;
}

.customInput {
	position: relative;
	height: 5vh;

	input {
		padding-left: 1vh;
		padding-right: 0;
		border-radius: 0;
		width: 35vh;

		&:focus-visible + .placeholder,
		&:not(:placeholder-shown) + .placeholder {
			top: -2.9vh;
			left: 0.8vh;
			font-size: 2.5vh;
			color: #000;
		}
	}
}

.error {
	font-size: 2.2vh;
	margin-top: 1.5vh;
	color: orange;
	text-shadow: 0.15vh 0.15vh black;
}

@media screen and (max-width: 80vh) {
	.nameForm,
	.connecting {
		margin-top: 15vw;
	}

	.nameForm {
		* {
			font-size: 1.5vh !important;
		}
	}

	.placeholder {
		top: 1.75vh;
		left: 1.4vh;
	}

	.customInput {
		width: 50vw;

		input {
			&:focus-visible + .placeholder,
			&:not(:placeholder-shown) + .placeholder {
				top: -2.3vh;
				left: 0.5vh;
				font-size: 2vh !important;
				color: #000;
			}
		}
	}
}
