.loginBackground {
	display: flex;
	justify-content: center;

	margin: 0px;

	height: 100vh;
	width: 100vw;

	background-image: url('/images/menu-background.png');
	background-size: cover;
	background-position: center;
}

.loginContainer {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding-top: 15vh;
}

.connecting {
	margin-top: min(11.5vh, 13vw);
	height: 4.5vh;
	font-size: 2.5vh;
	line-height: 100%;
	text-align: center;
	color: white;
	font-family: Minecraft;
}

.nameForm {
	display: flex;
	margin-top: min(11.5vh, 13vw);
}

.nameForm > * {
	font-size: 2vh;
	height: 4.5vh;
	line-height: 100%;
	padding: 0;
}

.nameForm > input {
	padding-left: 1vh;
	width: 35vh;
}
.nameForm > button {
	width: 8vh;
}

@media screen and (max-width: 80vh) {
	.nameForm,
	.connecting {
		margin-top: 15vw;
	}
	.nameForm > * {
		font-size: 1.5vh;
		height: 4vh;
	}
	.nameForm > input {
		width: 50vw;
	}
}
