.login {
	padding-top: 15px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.connecting {
	color: white;
	font-family: Minecraft;
}

.info {
	margin-top: 20px;
	color: #dedede;
	font-size: 11px;
	font-family: Minecraft;
}

.info a {
	color: lightblue;
}

.info a:active {
	color: #aaaaff;
}
