.loginContainer {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding-top: 10vh;
	max-width: 95vw;
	margin-inline: auto;
}

.connecting {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2vh;
	margin-top: 10vw;
	font-size: 1.5rem;
	line-height: 100%;
	text-align: center;
	color: var(--text-light);
	filter: drop-shadow(1px 1px 0 var(--text-dark));
}

.nameForm {
	display: flex;
	margin-top: 5vh;
	margin-bottom: 2vh;
	animation: fadeIn 250ms ease-in-out forwards;
	align-items: center;
	justify-content: center;
	transition: margin-top 0.2s, margin-bottom 0.2s;
	opacity: 1;
	flex-direction: column;
	gap: 1rem;

	&.currentlySyncing {
		opacity: 0;
		animation: fadeOut 200ms ease-in-out forwards;
		margin-top: 0vw;
		margin-bottom: 0vw;
		height: 0px;
		z-index: -1;
	}

	> * {
		font-size: 1rem;
		line-height: 100%;
	}

	> h1 {
		font-size: 1.5rem;
		color: white;
		filter: drop-shadow(1px 2px black);
	}

	> p {
		font-size: 1rem;
		color: white;
		filter: drop-shadow(1px 1px 1px black);
		text-align: center;
	}
}

.inputArea {
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
}

.syncingForm {
	display: flex;
	flex-direction: column;
	animation: fadeIn 250ms ease-in-out forwards;
	align-items: center;
	justify-content: center;
	width: min(450px, 90%);
	align-self: center;

	> * {
		font-size: 1rem;
		line-height: 100%;
	}
}

.syncButtons {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.customInput {
	position: relative;
	height: 3.5rem;
	width: 35vh;

	label {
		line-height: normal;
		position: absolute;
		font-size: 1.2rem;
		line-height: 1.4rem;
		color: var(--gray-700);
		transition: top 150ms, left 150ms;
		top: 1.65vh;
		left: 1.5vh;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		pointer-events: none;
	}

	input {
		padding-left: 1vh;
		padding-right: 0;
		border-radius: 0;
		border: 0.3vh solid #000;
		width: 100%;
		height: 3.5rem;
		line-height: 3.5rem;
		font-size: 1.2rem;

		&:focus-visible + label,
		&:not(:placeholder-shown) + label {
			top: -3vh;
			left: 0.8vh;
			color: var(--text-light);
			filter: drop-shadow(1px 1px 1px black);
		}
	}
}

.infoInput {
	height: 3.5rem;
	width: 100%;

	input {
		padding-left: 1vh;
		padding-right: 0;
		border-radius: 0;
		border: 0.3vh solid #000;
		width: 100%;
		height: 3.5rem;
		line-height: 3.5rem;
		font-size: 1rem;
	}
}

.syncing {
	transform: scaleY(0);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;
	opacity: 0;
	height: 0px;

	&.selected {
		height: 100%;
		opacity: 1;
		transition: transform 0.2s, opacity 0.3s;
		transform: scaleY(1);
	}
}

.syncContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
	transition: opacity 0.2s;
	opacity: 1;
	height: 100%;

	&.currentlySyncing {
		transform: scaleY(0);
		opacity: 0;
		height: 0px;
	}

	> p {
		font-size: 1rem;
		color: white;
		filter: drop-shadow(1px 1px 1px black);
		text-align: center;
	}
}

.loginButton {
	height: 3.5rem;
	padding: 0rem 2rem;
}

.syncButton {
	width: 50%;
}

.textBlurb {
	font-size: 1rem;
	color: var(--text-light);
	background-color: var(--gray-900);
	border: 2px black solid;
	padding: 0.5rem;
	border-radius: 5px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	max-width: min(600px, 90%);
	line-height: 1.5rem;

	.highlight {
		background-color: var(--gray-600);
		border-radius: 5px;
		padding: 0.25rem;
	}
}

@media screen and (max-width: 720px) {
	.customInput {
		height: 3rem;
		width: 60vw;
		label {
			top: 1.4vh;
			line-height: 1.8rem;
		}
		input {
			height: 3rem;
		}
	}

	.syncing {
		position: absolute;
		top: 25%;
		height: 90%;
		justify-content: center;
		left: 0;
		width: 100%;
		translate: 0px -25vh;
	}

	.textBlurb {
		font-size: 0.9rem;
		overflow: scroll;
	}

	.loginButton {
		height: 3rem;
		min-width: 4rem;
	}

	.logo {
		scale: 1;
	}

	.hideOnMobile {
		opacity: 0;
		scale: 0;
		transition: scale 0.5s, opacity 0.2s;
	}
}

.error {
	margin: 2vh 0;
	min-height: 4vh;
	display: grid;
	place-content: center;
	padding: 1vh 2vh;
	text-align: center;
	border: 2px solid var(--color-error-highlight);
	background: var(--color-error);
	color: var(--text-light);
	font-size: 1.1rem;
	filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 35%))
		drop-shadow(0 2px 10px rgba(0, 0, 0, 50%));
	animation: shake 150ms forwards;
}

@keyframes shake {
	0% {
		transform: translateX(-5px);
	}

	25% {
		transform: translateX(5px);
	}

	50% {
		transform: translateX(-5px);
	}

	75% {
		transform: translateX(5px);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}
