.gamesLandingButtons {
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	grid-gap: 2rem;
}

.gamesLanding {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 6rem;
}

.gamesPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.bottomButtons {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin-top: 2rem;
}

.bigButton {
	height: 3.8rem;
	padding-left: 3rem;
	padding-right: 3rem;
}

.buttonMenu {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.534);
	padding: 1rem;
	color: white;
	display: flex;
	flex-direction: column;
	white-space: nowrap;

	> div {
		flex-grow: 1;
	}
}
