.gamesLandingButtons {
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	grid-gap: 2rem;
}

.gamesLanding {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 6rem;
}

.gamesPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.bottomButtons {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin-top: 2rem;
}

.bigButton {
	height: 3.8rem;
	padding-left: 3rem;
	padding-right: 3rem;
}

.buttonMenu {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.534);
	padding: 1rem;
	color: white;
	display: flex;
	flex-direction: column;
	white-space: nowrap;

	> div {
		flex-grow: 1;
	}
}

/* Decks */
.myDecksItem {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem;
	user-select: none;
}

.selectedDeck {
	font-size: 1rem;
	color: gold;
	text-indent: 3px;
	transition: all 0.25s ease-in-out;
}

.multiColoredCircle {
	width: 0.5rem;
	height: 2rem;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.singleTag {
	flex-grow: 1;
	border-radius: 6px;
}

.deckImage {
	display: grid;
	place-content: center;
	background-color: var(--gray-500);
	border-radius: 6px;
	width: 2rem;
	height: 2rem;
	flex-shrink: 0;

	> img {
		height: 1.5rem;
		filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 25%));
	}
}

.usesIcon {
	&.farm {
		background-color: rgb(124, 204, 12);
	}

	&.redstone {
		background-color: rgb(185, 33, 42);
	}

	&.prankster {
		background-color: rgb(116, 55, 168);
	}

	&.explorer {
		background-color: rgb(103, 138, 190);
	}

	&.balanced {
		background-color: rgb(101, 124, 50);
	}

	&.builder {
		background-color: rgb(184, 162, 154);
	}

	&.pvp {
		background-color: rgb(85, 202, 194);
	}

	&.speedrunner {
		background-color: rgb(223, 226, 36);
	}

	&.terraform {
		background-color: rgb(217, 119, 147);
	}

	&.miner {
		background-color: rgb(110, 105, 108);
	}
}

.decksContainer {
	> ul {
		overflow-y: scroll;
		height: 30rem;
		width: 15rem;
	}
}
