.mainmenu {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background: var(--gray-700);
	color: var(--text-light);
}

.welcome {
	position: absolute;
	top: 2vh;
	right: 2vh;
	background-color: #333a;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	user-select: none;
}

.logo {
	margin-inline: auto;
}

.content {
	position: absolute;
	inset: 0;
	display: grid;
	place-content: center;
	height: 100%;
	max-width: 30rem;
	margin-inline: auto;
}

nav {
	margin-top: 5vh;
	display: grid;
	gap: 1vh;
	grid-template-areas:
		'public'
		'private-create'
		'private-join'
		'deck'
		'settings'
		'logout';
}

#public {
	grid-area: public;
}

#pcreate {
	grid-area: private-create;
}

#pjoin {
	grid-area: private-join;
}

#deck {
	grid-area: deck;
}

#settings {
	grid-area: settings;
}

#logout {
	grid-area: logout;
}

/* More container */

.moreContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	justify-content: center;

	> * {
		width: min(80vh, 85vw);
	}
}

.moreButtonContainer {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin-top: 11vh;
}

.stats {
	background: rgb(30, 30, 30);
	color: white;
	border: 0.5vh solid #333;
	border-radius: 0.5vh;
	overflow-y: auto;
	max-height: 30vh;
	margin-top: 2.5vh;
	padding: 2vh;
}

.stat {
	display: flex;
	justify-content: space-between;
	padding: 0.3vh 1vh;
	font-size: 2.5vh;
	font-family: Minecraft;
	cursor: default;

	&:hover {
		background: #333;
	}
}

/* Small Screen */
// @media screen and (max-width: 150vh) {
// 	.menuBackground {
// 		background-image: url('/images/menu-background.png');
// 		background-position: center;
// 		align-items: center;
// 	}

// 	.mainButtonContainer {
// 		margin-top: 6vh;
// 	}

// 	.mainContainer {
// 		margin: 0;
// 	}
// }

// @media screen and (max-width: 80vh) {
// 	.menuButton {
// 		margin-bottom: 2vh;
// 	}

// 	.mainButtonContainer {
// 		margin-top: 5vh;
// 	}

// 	.smallButtonContainer {
// 		flex-direction: column-reverse;
// 		align-items: stretch;

// 		&:not(.switchGaps) {
// 			margin-top: 2.5vh;
// 		}

// 		.menuButton {
// 			width: 100%;
// 			margin: 0 0 2.5vh;

// 			&:first-of-type {
// 				margin: 0;
// 			}
// 		}
// 	}
// }
