.chooseGame {
	padding-top: 15px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.chooseGame button {
	width: 250px;
	margin-top: 2px;
}

.message {
	color: white;
	font-family: Minecraft;
	margin-bottom: 5px;
}

.message .playerName {
	color: rgb(238, 135, 48);
	font-family: MinecraftBold;
}

.deckButton {
	background: #6666cc;
}

.info {
	margin-top: 30px;
	color: #dedede;
	font-size: 11px;
	font-family: Minecraft;
	display: flex;
	gap: 15px;
	align-items: center;
}

.info a {
	color: black;
	filter: contrast(0.75);
	display: flex;
	align-items: center;
	text-decoration: none;
	gap: 4px;
}

.info a:hover {
	filter: contrast(1);
}
