/* Backgrounds */

.menuBackground {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	background-image: url('/images/menu-background-widescreen.png');
	background-size: cover;
	background-position: left;
}

.moreBackground {
	background-image: url('/images/menu-background.png');
	background-position: center;
}

/* Prevent selection */
.menuBackground * {
	user-select: none;
}

/* Universal */

.menuButton {
	margin-bottom: 2.5vh;
}

.smallButtonContainer {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}
.smallButtonContainer .menuButton {
	width: calc(50% - 1.25vh);
	margin: 0 1.25vh;
	flex-grow: 1;
}
.smallButtonContainer .menuButton:first-of-type {
	margin-left: 0;
}
.smallButtonContainer .menuButton:last-of-type {
	margin-right: 0;
}

/* Main container */

.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: min(65vh, 80vw);
	justify-content: center;
	margin-left: 7vh;
}

.mainButtonContainer {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	margin-top: 11vh;

	width: 95%;
}

/* More container */

.moreContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	justify-content: center;
}

.moreContainer > * {
	width: min(80vh, 85vw);
}

.moreButtonContainer {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	margin-top: 11vh;
}

.stats {
	background: rgb(30, 30, 30);
	color: white;
	border: 0.5vh solid #333;
	border-radius: 0.5vh;

	overflow-y: auto;

	max-height: 30vh;
	margin-top: 2.5vh;
	padding: 2vh;
}

.stat {
	display: flex;
	justify-content: space-between;

	padding: 0.3vh 1vh;
	font-size: 2.5vh;
	font-family: Minecraft;

	cursor: default;
}

.stat:hover {
	background: #333;
}

/* Small Screen */
@media screen and (max-width: 150vh) {
	.menuBackground {
		background-image: url('/images/menu-background.png');
		background-position: center;
		align-items: center;
	}

	.mainButtonContainer {
		margin-top: 7.5vh;
	}

	.mainContainer {
		margin: 0;
	}
}
@media screen and (max-width: 80vh) {
	.menuButton {
		margin-bottom: 2vh;
	}

	.mainButtonContainer {
		margin-top: 5vh;
	}
	.smallButtonContainer {
		flex-direction: column-reverse;
		align-items: stretch;
		margin-top: 2.5vh;
	}
	.smallButtonContainer .menuButton {
		width: 100%;
		margin: 0 0 2.5vh;
	}
	.smallButtonContainer .menuButton:first-of-type {
		margin: 0;
	}
}
