.mainmenu {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	color: var(--text-light);
}

.playerInfo {
	position: absolute;
	top: 1vh;
	right: 1vh;
	display: grid;
	grid-template-areas:
		"name icon"
		"deck icon";
	font-size: 1.5vh;
	background-color: hsla(0deg, 0%, 0%, 35%);
	padding: 0.75vh 1vh 0.75vh 1.5vh;
	border-radius: 0.5vh;
	user-select: none;
	font-weight: normal;
	text-align: right;
	animation: fadeIn 250ms ease-in-out forwards;

	> img {
		height: 4vh;
	}

	#infoName {
		grid-area: name;
		font-weight: bold;
		font-size: 1.8vh;
	}

	#infoDeck {
		grid-area: deck;
	}

	#infoIcon {
		grid-area: icon;
		margin-left: 1vh;
	}
}

.logo {
	margin-inline: auto;
}

.content {
	position: absolute;
	inset: 0;
	display: grid;
	place-content: flex-start center;
	padding-top: 10vh;
	margin-inline: auto;
}

.privateGameContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2vh;
	margin-top: 5vh;
	animation: fadeIn 250ms ease-in-out forwards;

	p,
	label {
		color: white;
		font-size: 2.5vh;
		filter: drop-shadow(2px 2px 0 var(--text-dark));
		user-select: none;
	}

	button {
		font-size: 2vh;
		width: 30vh;
		height: 5vh;
		line-height: 100%;
		padding: 0 2vh;
	}
}

nav {
	margin-top: 5vh;
	display: grid;
	gap: 1vh;
	grid-template-areas:
		"public"
		"private-create"
		"solo-game"
		"deck"
		"settings"
		"logout";
	animation: fadeIn 250ms ease-in-out forwards;
}

#public {
	grid-area: public;
}

#privateCreate {
	grid-area: private-create;
}

#soloGame {
	grid-area: solo-game;
}

#deck {
	grid-area: deck;
}

#settings {
	grid-area: settings;
}

#logout {
	grid-area: logout;
}

.body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 10vh;

	form {
		width: 25vh;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	input {
		width: 25vh;
		text-align: center;
		border-radius: 0.5vh;
		border: 0.3vh solid var(--gray-900);
		height: 5vh;
		font-size: 2vh;
	}
}

/* Boss Landing Page */

.bossLanding {
	margin-inline: auto;
	padding: 1vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.bossRules {
	gap: 1vh;

	color: var(--text-light);
	max-height: 80vh;

	ol li {
		list-style-type: decimal;
		list-style-position: inside;
	}
}

.singleBossArea {
	display: grid;
	width: 30vw;
	align-items: center;
	justify-content: center;
	gap: 4px;
}

.bossImage {
	max-height: 55vh;
	filter: drop-shadow(0 0 1rem #1d1d1d);
	padding-bottom: 2rem;
}

/* Settings Page */

.settingsPage {
	width: 100%;
	height: 100%;
}

.settingsMenu {
	max-width: 70vh;
	margin-inline: auto;
	padding: 1vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;

	h2 {
		font-size: 3vh;
		color: var(--text-light);
		margin-bottom: 2vh;
		margin-top: 2vh;
		filter: drop-shadow(1px 1px 0 var(--text-dark));
	}
}

.settings {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1vh;
	width: 100%;
	margin-bottom: 2vh;
}

.settingsMultipleRows {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: column;
	gap: 1vh;
	width: 100%;
	margin-bottom: 2vh;
}

.stats {
	text-shadow: 0.1vh 0.1vh 0.2vh black, -0.1vh -0.1vh 0.2vh black;
	background: hsla(0deg, 0%, 0%, 55%);
	border-radius: 0.5vh;
	padding: 1vh 2vh;
}

.stat {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: .8vh 0;
	color: var(--text-light);

	> span {
		font-size: 2vh;
		user-select: text;
	}
}

.hofButton {
	width: 100%;
}

.setUuidSecretForm {
	width: 100%;
	height: 100%;
}

.customInput {
	position: relative;
	height: 5.5vh;
	width: 35vh;

	label {
		line-height: normal;
		position: absolute;
		font-size: 2vh;
		color: var(--gray-700);
		transition: top 150ms, left 150ms;
		top: 1.65vh;
		left: 1.5vh;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		pointer-events: none;
	}

	input {
		padding-left: 1vh;
		padding-right: 0;
		border-radius: 0;
		border: 0.3vh solid #000;
		width: 100%;
		height: 5.5vh;
		font-size: 2vh;

		&:focus-visible + label,
		&:not(:placeholder-shown) + label {
			top: -3vh;
			left: 0.8vh;
			color: var(--text-light);
			filter: drop-shadow(1px 1px 1px black);
		}
	}
}

.settingDescriptor {
	background: hsla(0deg, 0%, 0%, 55%);
	border-radius: 0.5vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1vh;
	color: var(--text-light);
}

.minecraftNameArea {
	background: hsla(0deg, 0%, 0%, 55%);
	border-radius: 0.5vh;
	display: flex;
	flex-direction: row;
	align-items: center;

	.left {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 4vh;

		.playerHead {
			width: 15vh;
			height: 15vh;
			filter: drop-shadow(2px 2px 0 white) drop-shadow(2px -2px 0 white)
				drop-shadow(-2px 2px 0 white) drop-shadow(-2px -2px 0 white);
		}
	}

	.right {
		p {
			padding: 0.5vh;
			color: var(--text-light);
			font-size: 2vh;
			filter: drop-shadow(1px 1px 0 var(--text-dark));
		}

		.playerHeadForm {
			width: 100%;
			display: flex;

			> * {
				font-size: 2vh;
				line-height: 100%;
			}

			.customInput {
				width: 90%;
			}
		}
	}
}

.creditsContainer {
	display: grid;
	grid-template-columns: 50% 50%;
	border-radius: 0.5vh;
	padding: 1vh 2vh;
	gap: 1vh;
}

.developerCreditsContainer {
	display: flex;
	flex-wrap: wrap;
}

.developerCreditsContainer > div {
	margin: 0.5vh;
}

.resetModal {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 0.5vh;
	margin: 0.5vh;
}

.resetModalDescription {
	padding: 1vh;
}

.resetModalButton {
	width: 50%;
}

.dbInfo {
	text-shadow: 0.1vh 0.1vh 0.2vh black, -0.1vh -0.1vh 0.2vh black;
	background: hsla(0deg, 0%, 0%, 55%);
	border-radius: 0.5vh;
	padding: 1vh 2vh;
	display: flex;
	flex-direction: row;
}

.dbItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1vh 0;
	color: var(--text-light);
	font-size: 2vh;
	user-select: text;

	&.left {
		flex-grow: 1;
	}

	&.right {
		text-align: right;
		flex-grow: 1;
		justify-content: end;
	}
}

.copy {
	display: grid;
	place-content: center;
	background: var(--gray-900);
	color: white;
	padding: 0.4rem;
	height: 2rem;
	min-width: 2rem;
	border-radius: 6px;
	cursor: pointer;
}

.warning {
	color: rgb(215, 23, 23);
	text-align: center;
	padding: 0.5rem;
}

.input {
	width: 50vh;
}

/* DESKTOP */
@media (min-width: 80vh) {
	nav {
		margin-top: 5vh;
		display: grid;
		gap: 2vh;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"public public"
			"private-create solo-game"
			"deck deck"
			"logout settings";
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.bigHallOfFameArea {
	width: 100vw;
	height: 100vh;
	right: 0px;
	top: 0px;
	position: absolute;
	display: flex;
}

.mainHallOfFameArea {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	margin-bottom: 1%;
	display: flex;
	flex-direction: column;
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.hofSidebar {
	background-color: var(--gray-700);
	border: 2px black solid;
	width: 20%;
}

.hallOfFameTable {
	background-color: #000;
	color: var(--text-light);

	tr {
		color: black;
		text-align: center;
	}

	tr:nth-child(odd) {
		background-color: var(--gray-200);
	}

	tr:nth-child(even) {
		background-color: var(--gray-400);
	}

	tr:first-child {
		background-color: black;
		color: white;
	}

	tr th {
		width: 10%;
	}

	tr td button {
		margin-top: 0.2vh;
		margin-bottom: 0.2vh;
	}
}

.hallOfFameTableGrid {
	background-color: #000;
	color: var(--text-light);
	margin-bottom: -2px;

	tr {
		color: black;
		text-align: center;
	}

	tr:nth-child(odd) {
		background-color: var(--gray-200);
	}

	tr:nth-child(even) {
		background-color: var(--gray-400);
	}

	tr > td {
		width: 10%;
	}

	tr > th {
		color: var(--text-light);
		background-color: black;
		border-bottom: 1px white dashed;
	}
}

.hallOfFameTableNoHeader {
	background-color: #000;
	color: var(--text-light);
	margin-bottom: -2px;
	width: 100%;

	th {
		font-weight: normal;
	}

	tr {
		color: black;
		text-align: center;
	}

	tr:nth-child(odd) {
		background-color: var(--gray-200);
	}

	tr:nth-child(even) {
		background-color: var(--gray-400);
	}

	td {
		width: 80%;
	}
}

.hallOfFameTable > tr > th {
	position: sticky;
	top: 2px;
	background-color: black;
}

.hallOfFameTable > tr > th::before {
	content: "";
	background-color: black;
	height: calc(1.5rem + 1px);
	width: 100%;
	position: absolute;
	top: -3px;
	left: 0px;
	z-index: -1;
}

.actionColumn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}

.tableArea {
	overflow-y: scroll;
	flex-grow: 1;
	overflow-x: hidden;
	width: 90%;
	border: 2px black solid;
	background-color: var(--gray-700);
}

.dropdownButton {
	place-content: center;
	display: flex;
	align-items: center;
	justify-items: center;
	background-color: var(--gray-400);
	border-radius: 6px;
	width: 2rem;
	height: 2rem;
	flex-shrink: 0;
	cursor: pointer;

	> img {
		height: 1.5rem;
		filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 25%));
	}

	&:hover {
		background: var(--gray-600);
		filter: brightness(1.1);
	}
}

.hofOptions {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-bottom: 0.5rem;
	color: var(--text-light);
	padding: 5px;
}

.loadingIndicator {
	background-color: black;
	color: var(--text-light);
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	padding: 1rem;
	gap: 1rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
}

.hallOfFameHeader {
	height: 5%;
	background-color: var(--gray-600);
	color: var(--text-light);
	font-family: Minecrafter;
	font-size: 1.4rem;
	align-items: center;
	display: flex;
	justify-content: center;
	border-bottom: 2px solid black;
}

.hofCheckBox {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.hofOption {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	width: 100%;
}

.barContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.typeGraph {
	background-color: var(--gray-700);
	color: white;
	margin: 1vh;
	width: 100%;
}
