.playSelect {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--text-light);
}

h2,
h3 {
	filter: drop-shadow(2px 2px 0 var(--text-dark));
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

.header {
	margin-top: 4vh;
	margin-bottom: 3vh;
}

.appearanceHeader {
	margin-top: 4vh;
}

.clickToChange {
	margin-top: 0.5vh;
	margin-bottom: 1.5vh;
	font-size: 1rem;
	filter: drop-shadow(2px 2px 0 var(--text-dark));
}

.gameTypes {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 6rem;
}

.gameTypesButtons {
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	grid-gap: 2rem;
}

.buttonMenu {
	height: 100%;
	width: 100%;
	white-space: nowrap;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);

	.publicConfirm {
		height: 100%;
		width: 100%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2vh;

		.spacer {
			flex-grow: 1;
		}

		.publicJoinButton {
			height: 5vh;
			width: 100%;
		}
	}
}

.appearanceContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1vh;
	font-weight: bold;
	color: var(--text-light);
	padding: 4px 16px;
	border: 4px solid var(--gray-900);
	border-image-slice: 30;
	border-image-width: 20px;
	border-image-repeat: stretch stretch;
	border-image-source: url("/images/game/border_frame.png");
	border-style: solid;
	background: linear-gradient(-90deg,
			hsla(195deg, 53%, 60%, 35%),
			hsla(195deg, 100%, 60%, 50%));

	&:hover {
		cursor: pointer;
		transform: scale(1.05);
	}

	.playerHead {
		background: var(--gray-800);
		clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
		height: 52px;
		aspect-ratio: 20/21;
		padding: 5px;
	}

	.playerName {
		>h1 {
			font-family: MinecraftBold;
			filter: drop-shadow(0 2px 0 hsla(0deg, 0%, 0%, 35%));
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 40ch;
			overflow: hidden;
		}

		>p {
			letter-spacing: 1px;
			font-family: Minecrafter, sans-serif;
			text-transform: uppercase;
			font-size: 10px;
			font-weight: normal;
			color: var(--gray-200);
		}
	}

	.health {
		display: flex;
		flex-direction: row-reverse;
		gap: 4px;
		margin-left: auto;

		>img {
			$size: 32px;

			height: $size;
			width: $size;
		}
	}
}

/* Decks */
.myDecksItem {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.2rem;
	padding: 0.3rem;
	user-select: none;
	cursor: pointer;
	max-height: 4rem;
	text-overflow: ellipsis;
	overflow: hidden;

	&:hover {
		filter: brightness(1.2);
		background-color: rgba(5, 5, 5, 0.5);
	}
}

.selectedDeck {
	font-size: 1rem;
	color: gold;
	text-indent: 3px;
	transition: all 0.25s ease-in-out;
}

.multiColoredCircle {
	width: 0.5rem;
	height: 2rem;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.singleTag {
	flex-grow: 1;
	border-radius: 6px;
}

.deckImage {
	display: grid;
	place-content: center;
	background-color: var(--gray-500);
	border-radius: 6px;
	width: 2rem;
	height: 2rem;
	flex-shrink: 0;

	>img {
		height: 1.5rem;
		filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 25%));
	}
}

.usesIcon {
	&.farm {
		background-color: rgb(124, 204, 12);
	}

	&.redstone {
		background-color: rgb(185, 33, 42);
	}

	&.prankster {
		background-color: rgb(116, 55, 168);
	}

	&.explorer {
		background-color: rgb(103, 138, 190);
	}

	&.balanced {
		background-color: rgb(101, 124, 50);
	}

	&.builder {
		background-color: rgb(184, 162, 154);
	}

	&.pvp {
		background-color: rgb(85, 202, 194);
	}

	&.speedrunner {
		background-color: rgb(223, 226, 36);
	}

	&.terraform {
		background-color: rgb(217, 119, 147);
	}

	&.miner {
		background-color: rgb(110, 105, 108);
	}
}

.top {
	display: flex;
	flex-direction: row;
}

.decksContainer {
	overflow-y: auto;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-auto-flow: row;
	width: 100%;
}

.bossRules {
	gap: 1vh;

	color: var(--text-light);
	max-height: 80vh;

	ol li {
		list-style-type: decimal;
		list-style-position: inside;
	}
}

.queueMenu {
	display: flex;
	height: 100%;
	font-size: 1rem;
	color: white;
	align-items: center;
	justify-content: center;

	>div {
		background-color: rgba(0, 0, 0, 0.8);
		padding: 1rem;
		border-radius: 8px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		width: 50%;
	}
}