.playSelect {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--text-light);

	h2,
	h3 {
		filter: drop-shadow(2px 2px 0 var(--text-dark));
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.5rem;
	}
}

.header {
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.appearanceHeader {
	margin-top: 4vh;
	text-align: center;
}

.gameTypes {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 6rem;
}

.gameTypesButtons {
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	grid-gap: 2rem;
}

.top {
	display: flex;
	flex-direction: row;
}

.bossRules {
	gap: 1vh;

	color: var(--text-light);
	max-height: 80vh;

	ol li {
		list-style-type: decimal;
		list-style-position: inside;
	}
}

.code {
	font-size: 2vh;
	cursor: pointer;
}

.privateGameCodeArea {
	display: flex;
	flex-direction: row;
	width: 100%;

	>input {
		flex-grow: 1;
		height: 2.7rem;
	}
}

.bottomArea {
	display: flex;
	flex-direction: column;

}

.clickToChange {
	margin-top: 0.5vh;
	margin-bottom: 1.5vh;
	font-size: 1rem;
	filter: drop-shadow(2px 2px 0 var(--text-dark));
	transition: color ease-in 250ms;

	&.hide {
		color: #ffffff00;
		transition: none;
	}
}

.playerInfo {
	position: absolute;
	top: 6vh;
	right: 1vh;
	display: grid;
	grid-template-areas:
		"name icon"
		"deck icon";
	font-size: 1.5vh;
	background-color: hsla(0deg, 0%, 0%, 35%);
	padding: 0.75vh 1vh 0.75vh 1.5vh;
	border-radius: 0.5vh;
	user-select: none;
	font-weight: normal;
	text-align: right;
	animation: fadeIn 250ms ease-in-out forwards;

	>img {
		height: 4vh;
	}

	#infoName {
		grid-area: name;
		font-weight: bold;
		font-size: 1.8vh;
	}

	#infoDeck {
		grid-area: deck;
	}

	#infoIcon {
		grid-area: icon;
		margin-left: 1vh;
	}
}

.appearance {
	cursor: pointer;

	&:hover {
		scale: 1.05;
	}
}