.description {
	padding: 10px;
}

.options {
	text-align: center;
	padding: 10px 0;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.options button + button {
	margin-left: 5px;
}

.availableActions {
	margin: 0 10px;
}
