.cards {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	max-height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
}

.cardsListContainer {
	margin: auto;
	width: 100%;
	max-height: 100%;
	overflow: hidden;
}

.card {
	margin-inline: auto;
}

.infoIcon {
	border: 2px solid var(--gray-50);
	width: 20px;
	height: 20px;
	flex: 0 0 auto;
	border-radius: 50%;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	display: inline-block;
	vertical-align: baseline;
	font-family: serif;
	font-weight: bold;
}

.turnEndNotification {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	font-size: 1rem;
	border: 1px solid var(--gray-300);
	padding: 0.5rem 1rem;
	background: var(--gray-900);
}

.attack {
	display: flex;
	align-items: center;
	flex: 0 0 auto;
	padding: 1rem;
	gap: 1rem;
	border: 1px solid var(--gray-300);
	font-family: Minecraft, Unifont;
	text-align: left;
	color: var(--text-light);
	cursor: pointer;

	&:hover {
		background: var(--gray-900);
	}

	.portrait {
		$size: 60px;

		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex: 0 0 auto;
		height: $size;
		width: $size;
		overflow: hidden;
		border: 2px solid var(--gray-300);
		border-right: 2px solid var(--gray-700);
		border-bottom: 2px solid var(--gray-700);
		background: var(--gray-100);

		.hermitImage {
			display: absolute;
			margin-top: 5px;
			width: 85px;
			height: auto;
		}

		.effectImage {
			display: absolute;
			margin-top: -2px;
			width: $size;
			height: $size;
		}
	}

	.info {
		flex: 1 1 auto;
	}

	.name {
		font-weight: bold;
		font-size: 1.2rem;
		user-select: none;

		.select {
			font-size: 0.8rem;
			font-weight: normal;
			font-style: italic;
			opacity: 0.9;
		}
	}

	.details {
		display: flex;
		flex-flow: row nowrap;
		gap: 0.5rem;
		align-items: center;
		line-height: 1;
	}

	.attackPart {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.25rem;
	}

	.attackIcon {
		background: var(--gray-100);
		padding: 2px;
		height: 32px;
		width: 32px;
	}
}

.singleUseIcon {
	height: 1.8rem;
	transform: translateY(0.45rem);
	pointer-events: none;
	margin-top: -0.6rem;
}

.hermitOptions {
	display: flex;
	gap: 10px;
}

.hermitOption {
	width: 35px;
	height: 35px;
	opacity: 0.5;
	cursor: pointer;
	filter: saturate(0);

	&.selected {
		filter: saturate(1);
		opacity: 1;
		box-shadow: 0 0 2px #333;
	}

	&:hover:not(.selected) {
		filter: saturate(0.5);
		opacity: 1;
	}
}

.extraAttacks {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
}

.draggableCard {
	width: 130px;
	position: absolute;
}

.deckSpacer {
	flex-grow: 1;
}

.retrievalBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	width: 200px;
	max-width: 50%;
}

.retrievalName {
	text-align: center;
}

.retrievalArea {
	background-color: var(--gray-600);
	border: 4px var(--gray-900) dashed;
	height: 140px;
}

.draggableCardsContainer {
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.subContainer {
	position: absolute;
	transform: translateY(6px);
}