.achievementContainer {
	display: flex;
	font-size: 1rem;
	align-items: center;
	gap: 1vh;
	font-family: Minecraft, Unifont;
	color: white;
	text-shadow: 0.1vh 0.1vh 0.2vh black, -0.1vh -0.1vh 0.2vh black;
	text-decoration: none;
	margin-bottom: 10px;
	background: var(--gray-900);
	padding: 0.5vh;
	border-radius: 5px;
	width: 100%;
	border: 2px black solid;

	&.completed {
		background: linear-gradient(
			90deg,
			hsl(49, 24%, 13%),
			hsl(49, 38%, 20%)
		);
	}
}

.icon {
	width: 6vh;
	height: 6vh;
	margin: 0.5vh;

	&.background {
		border: 2px black solid;
		object-fit: cover;
		object-position: left;
		border-radius: 50%;
	}

	&.title {
		image-rendering: crisp-edges;
		width: 5vh;
		height: 5vh;
		margin: 1vh;
		filter: drop-shadow(2px 0px 0 black) drop-shadow(-2px 0px 0 black)
			drop-shadow(0px 2px 0 black) drop-shadow(0px -2px 0 black);
	}

	&.heart {
		image-rendering: crisp-edges;
	}
}

.progressBar {
	height: 1vh;
	width: 100%;
	margin-right: 1rem;
}

.progressContainer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-self: center;
	gap: 0.5rem;

	:not(.progressBar) {
		text-align: right;
		width: 5rem;
		direction: rtl;
	}
}

.achievementDescription {
	font-size: 0.8rem;
	text-shadow: none;
	color: lightgray;
}

.aroundOverlay {
	position: relative;
}

.lockOverlay {
	width: 6vh;
	height: 6vh;
}

.mainArea {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.rightSide {
	width: 90%;
}

.leftSide {
	width: 100%;
}

.progressBar {
	flex-grow: 1;
	height: 15px;
	background-color: var(--gray-600);
	border-radius: 5px;
	border: 2px black solid;

	.full {
		width: 100%;
		height: 100%;
		border-radius: 5px;
		background-color: #56b8d0;
		box-shadow: inset 2px -2px #18444e;
		border-right: 1px #d3f2fa solid;
		animation-fill-mode: forwards;
	}

	.completed {
		background-color: rgb(208, 180, 86);
		box-shadow: inset 2px -2px rgb(80, 65, 16);
		border-right: 1px #fae9d3 solid;
	}
}

.trophy {
	height: 16px;
	image-rendering: crisp-edges;
	margin-right: 0.5rem;
}

.completionTime {
	width: 100%;
	text-align: right;
	padding-right: 1rem;
	color: var(--gray-200);
}

.progressButton {
	padding: 1rem;
	margin-right: 1rem;
}

@media screen and (max-width: 720px) {
	.mainArea {
		flex-direction: column;
	}

	.progressContainer {
		flex-direction: row-reverse;
		font-size: 0.8rem;
		margin: 0.5rem;
		margin-left: 0;

		:not(.progressBar) {
			direction: ltr;
			width: 0rem;
		}

		:not(.progressBar, .progressButton) {
			text-align: center;
			width: min-content;
			direction: ltr;
			padding-right: 0.5rem;
		}
	}

	.rightSide {
		width: 100%;
	}

	.completionTime {
		font-size: 0.8rem;
		padding-right: 0rem;
		text-align: left;
	}

	.progressButton {
		margin-right: 0px;
		padding: 1rem;
		text-align: center;
	}
}

.cosmeticCoin {
	border-radius: 50%;
	border: 2px solid;
	box-shadow: 0 0 8px;
	border-style: solid;
	border-width: 3.33%;
}
