/* Default */
.logo {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: end;
	margin-top: 30px;

	width: 80%;
}

.notOfficial {
	transform: translate(0, -35px) rotate(-20deg);
}

.notOfficial > p {
	color: #fcfc29;
	text-shadow: #3f3e00 2px 2px;
	font-family: Minecraft;

	animation-name: notOfficialAnim;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes notOfficialAnim {
	0% {
		transform: scale(100%);
	}
	50% {
		transform: scale(150%);
	}
	100% {
		transform: scale(100%);
	}
}

/* Small Screen */
@media only screen and (min-width: 800px) {
	.logo {
		width: 500px;
		margin-bottom: 60px;
	}
}

/* Widescreen */
@media only screen and (min-width: 1300px) {
	.logo {
		width: 500px;
		margin-bottom: 60px;
	}
}
