/* Default */

.logo {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: end;
	max-width: 30vw;
	overflow: visible;
}

.splashText {
	position: absolute;
	right: 0;
	bottom: 2vh;
	font-size: 2vh;
	color: #fcfc29;
	text-shadow: #3f3e00 0.2vh 0.2vh;
	font-family: Minecraft;
	margin: 0;
	animation: splashText 200ms ease-out infinite alternate-reverse;
}

@media (max-width: 80vh) {
	.logo {
		max-width: 75vw;
	}

	.logoSubText {
		right: 2vw;
		bottom: 9vw;

		p {
			font-size: 2.5vw;
		}
	}
}

@keyframes splashText {
	from {
		transform: scale(100%) rotate(-20deg);
	}

	to {
		transform: scale(105%) rotate(-20deg);
	}
}
