/* Default */

.logo {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: end;

	width: 65vh;
	overflow: visible;
}

.logoSubText {
	position: absolute;
	right: 0;
	bottom: 8vh;
	transform: rotate(-20deg);
}

.logoSubText > p {
	font-size: 2.2vh;
	color: #fcfc29;
	text-shadow: #3f3e00 0.2vh 0.2vh;
	font-family: Minecraft;
	margin: 0;

	animation-name: notOfficialAnim;
	animation-duration: 1s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@media screen and (max-width: 80vh) {
	.logo {
		width: 75vw;
	}
	.logoSubText {
		right: 1vw;
		bottom: 9vw;
	}
	.logoSubText > p {
		font-size: 2.5vw;
	}
}

@keyframes notOfficialAnim {
	from {
		transform: scale(100%);
	}
	to {
		transform: scale(140%);
	}
}
