.chat {
	width: 300px;
	position: fixed;
	top: 0;
	left: 0;
	min-height: 250px;
	height: calc(100vh - 240px);
	background: rgba(0, 0, 0, 0.9);
	display: flex;
	flex-flow: column nowrap;
}

.chat *:not(select):not(:hover)::-webkit-scrollbar {
	display: none;
}

.chat *:not(select)::-webkit-scrollbar {
	width: 7px;
}

.chat *:not(select)::-webkit-scrollbar-thumb {
	background: rgba(80, 80, 80, 0.7);
	border: none;
}

.chat *:not(select):not(:hover)::-moz-scrollbar {
	display: none;
}

.chat *:not(select)::-moz-scrollbar {
	width: 7px;
}

.chat *:not(select)::-moz-scrollbar-thumb {
	background: rgba(80, 80, 80, 0.7);
	border: none;
}

.publisher {
	display: flex;
	flex-flow: row nowrap;
	padding: 3px;
	gap: 3px;
	flex: 0 0 auto;
}

.publisher input {
	flex: 1 1 auto;
	width: 0;
}

.publisher button {
	flex: 0 0 auto;
}

.messageList {
	overflow-x: hidden;
	overflow-y: auto;
	overflow-y: overlay;
	padding: 2px 10px;
	flex: 1 1 auto;
	height: 0;

	scrollbar-width: 7px;
	scrollbar-color: rgba(80, 80, 80, 0.7);
}

.message {
	word-break: break-word;
	margin-bottom: 2px;
	font-size: 14px;
}

.player {
	color: #6fabd0;
}

.opponent {
	color: #5ea758;
}

.playerName {
	font-family: MinecraftBold;
}

.text {
	color: #fafafa;
}
