.chat {
	position: fixed;
	inset: 0;
	padding: 2vh;
	gap: 2vh;
	background: var(--gray-600);
	z-index: 50;
	display: flex;
	flex-direction: column;
	max-width: 1500px;
	border: 3px solid var(--gray-700);
	border-top: 3px solid var(--gray-400);
	resize: both;
	overflow: hidden;
	user-select: none;
	filter: drop-shadow(0 0 8px hsla(0deg, 0%, 10%, 100%));

	&::-webkit-resizer {
		background: linear-gradient(
			-45deg,
			rgba(0, 0, 0, 0%) 10%,
			rgba(0, 0, 0, 75%) 10%,
			rgba(0, 0, 0, 75%) 20%,
			rgba(0, 0, 0, 0%) 20%,
			rgba(0, 0, 0, 0%) 30%,
			rgba(0, 0, 0, 75%) 30%,
			rgba(0, 0, 0, 75%) 40%,
			rgba(0, 0, 0, 0%) 40%
		);
	}
}

.header {
	display: flex;
	justify-content: space-between;
	color: var(--text-light);
	font-size: 1.2rem;
	touch-action: none;
	cursor: grab;
	align-items: center;
	gap: inherit;

	p {
		flex-grow: 1;
	}

	.close {
		filter: brightness(0.1);
		cursor: pointer;

		&:hover {
			filter: brightness(2);
		}
	}
}

.formBox {
	display: flex;
	width: 100%;
	flex-direction: row;
}

.publisher {
	display: flex;
	flex-flow: row nowrap;
	flex: 1 0 auto;

	> input {
		flex: 1 1 auto;
		height: 2rem;
		width: 0;
		border-right: 0;
		background: var(--gray-700);
		color: var(--text-light);
	}

	> button {
		height: 2rem;
		flex: 0 0 auto;
		padding-inline: 1rem;
	}
}

.emojiButton {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--gray-400);
	border: 2px black solid;
	border-left: 0px black solid;
	width: 2rem;
	height: 2rem;
	flex-shrink: 0;
	cursor: pointer;

	> img {
		height: 1.5rem;
	}

	&:active {
		transform: translateY(1px);
	}
}

.messagesWrapper {
	position: relative;
	overflow: hidden;
	padding: 3vh;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	background: var(--gray-800);
	border: 3px solid var(--gray-700);
	border-bottom: 3px solid var(--gray-400);
	box-shadow: inset 0 0 16px hsla(0deg, 0%, 10%, 100%);

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		margin: 1vh;
		filter: saturate(0.75) brightness(0.75);
		border-image: url("/images/game/border_frame.png") 30 / 20px;
	}
}

.messages {
	position: absolute;
	inset: 2.5vh;
	padding-right: 1vh;
	overflow-x: hidden;
	overflow-y: auto;
	flex: 1 0 auto;
	z-index: 1;
	display: flex;
	flex-direction: column-reverse;
	scrollbar-width: thin;
}

.message {
	word-break: break-word;
	margin-bottom: 0.25rem;
	font-size: 1rem;
	display: flex;
	align-items: baseline;
}

.time {
	color: var(--gray-400);
	font-size: 0.75rem;
	padding-right: 0.25rem;
	width: 4rem;
}

.playerName {
	font-family: MinecraftBold;
	padding-right: 0.5rem;
}

.text {
	color: var(--text-light);
}

.systemMessage {
	color: var(--gray-300);
}

.turnTag {
	color: var(--gray-300);
	font-size: 0.75rem;
	padding-right: 0.25rem;
}

.line {
	flex-grow: 1;
	height: 100%;
	display: inline-block;
	height: 1px;
	border: 0;
	border-top: 2px solid var(--gray-300);
	padding: 0;
	align-self: center;
}
