.attackModal {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	min-width: 350px;
}

.turnEndNotification {
	font-size: 12px;
	padding: 5px 10px;
}

.attack {
	flex: 0 0 auto;
	display: flex;
	align-items: flex-start;
	cursor: pointer;
	padding: 5px 10px;
}

.attack.extra {
	padding-left: 30px;
}

.attack:hover {
	background: rgb(160, 160, 160);
}

.icon {
	flex: 0 0 auto;
	width: 60px;
	height: 60px;
	background: rgb(139, 139, 139);
	overflow: hidden;
	display: flex;
	justify-content: center;
	border-top: 2px solid rgb(52, 52, 52);
	border-left: 2px solid rgb(52, 52, 52);
	border-bottom: 2px solid white;
	border-right: 2px solid white;
}

.extra .icon {
	width: 40px;
	height: 40px;
}

.hermitIcon {
	align-items: flex-start;
}

.hermitIcon img {
	flex: 0 0 auto;
	margin-top: 5px;
	width: 85px;
	height: auto;
}

.extra .hermitIcon img {
	width: 60px;
}

.effectIcon {
	align-items: center;
}

.effectIcon img {
	width: 45px;
	height: 45px;
}

.info {
	margin-left: 10px;
	flex: 1 1 auto;
}

.name {
	font-weight: bold;
	font-size: 18px;
}

.extra .name {
	font-size: 14px;
}

.damage {
	color: rgb(246, 4, 1);
}

.specialMove {
	color: rgb(23, 66, 234);
}

.hermitDamage {
	display: inline-flex;
	justify-content: center;
	align-items: flex-start;
	width: 16px;
	height: 16px;
	overflow: hidden;
	margin-right: 2px;
	transform: translateY(-1px);
}

.attackPart {
	display: flex;
	align-items: flex-end;
	gap: 1px;
}

.extra .attackPart {
	font-size: 14px;
}

.attackOperator {
	margin-left: 3px;
	margin-right: 3px;
}

.description {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	line-height: 1;
}

.description img {
	object-fit: scale-down;
	vertical-align: bottom;
}

.multiplier {
	color: rgb(1, 4, 246);
}

.infoIcon {
	border: 2px solid black;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	display: inline-block;
	vertical-align: baseline;
	margin-right: 5px;
	font-family: serif;
	font-weight: bold;
}

.noAttacks {
	padding: 10px;
}

.hermitSelector > .attack {
	cursor: default;
}

.extraAttacks {
	/* padding-left: 10px; */
}

.hermitOptions {
	display: flex;
	gap: 10px;
}

.hermitOption {
	width: 35px;
	height: 35px;
	opacity: 0.5;
	cursor: pointer;
}

.hermitOption.selected {
	opacity: 1;
	box-shadow: 0 0 2px #333;
}

.hermitOption:hover {
	opacity: 1;
}
