.container {
	position: relative;
	cursor: pointer;
	user-select: none;
}

.originalCheckbox {
	position: absolute;
	opacity: 0%;
	cursor: pointer;
	height: 0px;
	width: 0px;
}

.checkbox {
	position: absolute;
	background-color: var(--gray-300);
	border: 2px black solid;
	width: 1.5rem;
	height: 1.5rem;
	right: 0px;
	cursor: pointer;

	&:active {
		transform: translateY(1px);
	}
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkbox {
	background-color: var(--gray-200);

	&::after {
		content: "✔️";
		position: absolute;
		width: 100%;
		height: 100%;
		font-size: 0.9rem;
		filter: contrast(0%) brightness(0.3);
	}

	&:active {
		transform: translateY(1px);
	}
}
