.actions {
	display: flex;
	gap: 20px;
	color: var(--text-light);
	width: 100%;
	justify-content: space-between;
}

.actionSection {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 15px 20px;
	gap: 10px;
	background: var(--gray-900);
	border-image-slice: 30;
	border-image-width: 20px;
	border-image-repeat: stretch stretch;
	border-image-source: url('/images/cosmetics/border/blue.png');
	border-style: solid;

	> h2 {
		position: absolute;
		top: -30px;
		width: 100%;
		font-weight: bold;
	}
}

.slot {
	$slot-size: 90px;

	height: $slot-size;
	width: $slot-size;
}

.buttons {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.mobileButtons {
	display: flex;
	flex-direction: row;
	gap: 10px;
	width: 100%;
	flex-grow: 1;
}

.used {
	position: relative;
	filter: brightness(0.7);
	border-radius: 5px;
	overflow: hidden;
}

.turn {
	text-transform: uppercase;
	font-weight: bold;
	color: lightblue;
}

#status {
	width: 100%;
}

#singleUse {
	width: 300px;
}

#buttons {
	width: 300px;
}

.desktop {
	display: flex;
	gap: 20px;
	color: var(--text-light);
	width: 100%;
	justify-content: space-between;
	flex-direction: column;
	margin: 5px 0;
	align-items: center;
	flex-shrink: 1;

	.slot {
		$slot-size: 100px;

		height: $slot-size;
		width: $slot-size;
	}

	.message {
		text-align: center;
	}

	#status {
		height: 130px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 30px;
	}

	.actionSection {
		padding: 0;

		&.fade {
			filter: brightness(0.8);
		}
	}

	.buttons {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 160px;
		margin: 20px;
	}
}

.mobile {
	#singleUse {
		width: unset;
	}

	.buttons {
		display: flex;
		flex-direction: row;
	}

	.status {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		font-size: 22px;
	}

	.mobileButton {
		flex-grow: 1;
		height: 60px;
	}
}

.turnSkipMessageContainer {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 50%;
}

.turnSkipEndTurnButton {
	display: flex;
	width: 100%;
}

@media (orientation: landscape) {
	.mobile {
		display: none;
	}
}

@media (orientation: portrait) {
	.desktop {
		display: none;
	}
}
