name: CI

on:
    push:
        branches:
            - master
            - ux-rework
    pull_request:
        branches:
            - master
            - ux-rework

permissions:
    checks: write
    contents: write

jobs:
    run-linters:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v3

            - name: Install dependencies
              run: npm ci

            - name: Create debug config
              run: cp ./common/config/debug-config.example.js ./common/config/debug-config.js

            - name: Run server tsc
              run: npm run server:tsc

            - name: Run biome
              run: npm run lint

    unittest:
        name: Unit Tests
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v3

            - name: Install dependencies
              run: npm ci

            - name: Create debug config
              run: cp ./common/config/debug-config.example.js ./common/config/debug-config.js

            - name: Run tests
              run: npm run test:unit

    component-tests:
        name: Component Tests
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v3

            - name: Install dependencies
              run: npm ci

            - name: Install Playwright Browsers
              run: npx playwright install --with-deps

            - name: Create debug config
              run: cp ./common/config/debug-config.example.js ./common/config/debug-config.js

            - name: Run tests
              run: npm run test:ct

            - uses: actions/upload-artifact@v4
              if: ${{ !cancelled() }}
              with:
                  name: playwright-report-ct
                  path: playwright-report/
                  retention-days: 30

    api-tests:
        name: API Tests
        runs-on: ubuntu-latest
        services:
            postgres:
                image: postgres
                env:
                    POSTGRES_USER: hctcg
                    POSTGRES_PASSWORD: hctcg
                    POSTGRES_DATABASE: hctcg
                options: >-
                    --health-cmd pg_isready
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5
                ports:
                    - 5432:5432
        steps:
            - name: Checkout repo
              uses: actions/checkout@v3

            - uses: actions/setup-node@v4
              with:
                  node-version: 24

            - name: Install dependencies
              run: |
                  npm ci
                  sudo apt-get install -y curl
                  sudo apt-get install -y jq

            - name: Create debug config
              run: cp ./common/config/debug-config.example.js ./common/config/debug-config.js

            - name: Build project
              run: npm run build

            - name: Run tests
              run: npm run test:api
              env:
                  POSTGRES_HOST: 172.17.0.1
                  POSTGRES_USER: hctcg
                  POSTGRES_PASSWORD: hctcg
                  POSTGRES_PORT: 5432

    e2e:
        timeout-minutes: 60
        runs-on: ubuntu-latest
        name: End to End Tests
        services:
            postgres:
                image: postgres
                env:
                    POSTGRES_USER: hctcg
                    POSTGRES_PASSWORD: hctcg
                    POSTGRES_DATABASE: hctcg
                options: >-
                    --health-cmd pg_isready
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5
                ports:
                    - 5432:5432
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: 24

            - name: Install dependencies
              run: npm ci

            - name: Install Playwright Browsers
              run: npx playwright install --with-deps firefox

            - name: Create debug config
              run: cp ./common/config/debug-config.example.js ./common/config/debug-config.js

            - name: Build the server
              run: npm run build

            - name: Run Playwright tests
              run: npm run test:e2e
              env:
                  DATABASE_URL: postgres://hctcg:hctcg@172.17.0.1:5432/hctcg

            - uses: actions/upload-artifact@v4
              if: ${{ !cancelled() }}
              with:
                  name: playwright-report-e2e
                  path: playwright-report/
                  retention-days: 30

    db:
        name: Databse Tests
        runs-on: ubuntu-latest
        container: node:18.20-bookworm-slim

        services:
            postgres:
                image: postgres
                env:
                    POSTGRES_USER: hctcg
                    POSTGRES_PASSWORD: hctcg
                    POSTGRES_DATABASE: hctcg
                options: >-
                    --health-cmd pg_isready
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5
                ports:
                    - 5432:5432

        steps:
            - name: Check out repository code
              uses: actions/checkout@v4

            - name: Install dependencies
              run: npm ci

            - name: Create debug config
              run: cp ./common/config/debug-config.example.js ./common/config/debug-config.js

            - name: Test Database
              run: npm run test:db
              env:
                  DATABASE_URL: postgres://hctcg:hctcg@172.17.0.1:5432/hctcg

    build-docker:
        name: Test Can Build Docker Image
        runs-on: ubuntu-latest
        steps:
            - name: Check out repo
              uses: actions/checkout@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build
              run: docker buildx build .
