name: CI Workflow

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - dev
      - master
      - beta
      - christmas

permissions:
  checks: write
  contents: write

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm ci

      - name: Create debug config
        run: cp ./common/config/debug-config.example.json ./common/config/debug-config.json

      - name: Run server tsc
        run: npm run server:tsc

      - name: Run biome
        run: npm run lint

  unittest:
    name: Run Jest Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm ci

      - name: Create debug config
        run: cp ./common/config/debug-config.example.json ./common/config/debug-config.json

      - name: Run tests
        run: npm run test:unit

  api-tests:
    name: Run API Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          npm ci
          sudo apt-get install -y curl
          sudo apt-get install -y jq

      - name: Create debug config
        run: cp ./common/config/debug-config.example.json ./common/config/debug-config.json

      - name: Build project
        run: npm run build

      - name: Run tests
        run: ./tests/test-api.sh


  build-docker:
    name: Test Can Build Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build
        run: docker buildx build .
